/*Stylos */
.flip{
	height: 225px;
	width: 200px;
	margin: 0 auto;
}

.flip img{
	width: 50px;
	height: auto;
}

.flip .back{
	background: #212121;
	color: #cecece;
	text-align: center;
}
