@charset "utf-8";

.pricingTable{
text-align: center;
transition: all 0.5s ease 0s;
}
.pricingTable:hover{
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.pricingTable .pricingTable-header{
color: #feffff;
}
.pricingTable .heading{
display: block;
padding-top: 25px;
}
.pricingTable .heading > h3{
font-size: 20px;
margin: 0;
text-transform: capitalize;
}
.textotitle{
color: #feffff;
font-size: 20px;
margin: 0;
text-transform: capitalize;
}
.pricingTable .subtitle{
display: block;
font-size: 13px;
margin-top: 5px;
text-transform: capitalize;
}
.pricingTable .price-value{
display: block;
font-size: 60px;
font-weight: 700;
padding-bottom: 25px;
}
.pricingTable .price-value span{
display: block;
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
}
.pricingTable .pricingContent{
/*text-transform: capitalize;*/
background: #fbfbfb;
color: #fefeff;
}
.pricingTable .pricingContent ul{
list-style: none;
padding: 15px 14px 10px;
margin: 0;
text-align: left;
}
.pricingTable .pricingContent ul li{
font-size: 14px;
padding: 12px 0;
border-bottom: 1px dashed #e1e1e1;
color: #9da1ad;
}
.pricingTable .pricingContent ul li i{
font-size: 14px;
float: right;
}
.pricingTable .pricingTable-sign-up{
padding: 20px 0;
background: #fbfbfb;
color: #fff;
text-transform: capitalize;
}
.pricingTable .btn-block{
width: 60%;
margin: 0 auto;
font-size: 17px;
color: #fff;
text-transform: capitalize;
border: none;
border-radius: 5px;
padding: 10px;
transition: all 0.5s ease 0s;
}
.pricingTable .btn-block:before{
content: "\f007";
font-family: 'FontAwesome';
margin-right: 10px;
}
.pricingTable.blue .pricingTable-header,
.pricingTable.blue .btn-block{
background-image: url(../img/afiliate.jpg);
}
.pricingTable.pink .pricingTable-header,
.pricingTable.pink .btn-block{
background: #c9b600;
}
.pricingTable.orange .pricingTable-header,
.pricingTable.orange .btn-block{
background-image: url(../img/195548.jpg);
}
.pricingTable.green .pricingTable-header,
.pricingTable.green .btn-block{
background-image: url(../img/2504.jpg);
}
.pricingTable.yello .pricingTable-header,
.pricingTable.yello .btn-block{
background-image: url(../img/emprendedor.png);
}
.pricingTable.blue .btn-block:hover,
.pricingTable.pink .btn-block:hover,
.pricingTable.orange .btn-block:hover,
.pricingTable.green .btn-block:hover{
background: #e6e6e6;
color: #939393;
}
@media screen and (max-width: 990px){
.pricingTable{ margin-bottom: 20px; }
}
#keyword {
	text-transform:lowercase;
}
.tituloplan {
	color: #1d3e88;
	margin-top: 20px;
	margin-bottom: 0px;
}

.sello-precio-circulo-ancho.anual {
    padding: 5px;
}
.sello-precio-circulo-ancho {
    border-radius: 500px;
    /*border: 5px solid #ffdf00;*/
    border: 5px solid #5cb85c;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    display: block;
    padding: 10px;
    margin: 0;
    float: left;
}
.sello-precio-circulo-fino {
    padding: 10px;
    margin: 0;
    border-radius: 500px;
    border: 2px solid #000000;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: block;
}
    .sello-precio-circulo-ancho.anual .sello-precio-circulo-fino p.ahora {
        margin: 0px 0 0 0;
    }
    .sello-precio-circulo-fino p.ahora {
        font-family: "Ubuntu",sans-serif;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        margin: -4px 0 0 0;
        padding: 0;
        letter-spacing: -1px;
        display: block;
    }
.sello-precio-caja {
    /*background-color: #ffdf00;*/
    background-color: #5cb85c;
    border: 3px solid #ffffff;
    padding: 2px 5px 2px 5px;
    margin: 0 0 0 -33%;
    width: 165%;
    height: auto;
    display: block;
    text-align: center;
}
.sello-precio-circulo-fino p.entero {
    font-family: "Ubuntu",sans-serif;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    line-height: 59px;
    margin: 0;
    padding: 0;
    display: inline-block;
    letter-spacing: -7px;
    width: auto;
}
.sello-precio-caja .resto {
    display: inline-block;
    margin: 0 0 0 3px;
    padding: 0;
    width: auto;
}
.sello-precio-circulo-fino span.decimales {
    font-family: "Ubuntu",sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 33px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    display: table;
}
.sello-precio-circulo-fino span.moneda {
    font-family: "Ubuntu",sans-serif;
    font-weight: normal;
    color: #000000;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
    margin: 0 0 0 10px;
    padding: 0;
    display: table;
}
    .sello-precio-circulo-ancho.anual .sello-precio-circulo-fino p.antes {
        text-decoration: none;
    }
.sello-precio-circulo-fino p.antes {
    font-family: "Ubuntu",sans-serif;
    font-weight: normal;
    color: #000000;
    text-align: center;
    font-size: 12px;
    line-height: 9px;
    margin: 0;
    padding: 0;
    text-decoration: line-through;
    display: block;
}
