@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Column Styles
2.0 - List Styles
3.0 - hr Styles
4.0 - Button Styles
5.0 - Highlight Styles 
6.0 - Title Styles
7.0 - Social Icon Styles
8.0 - Icon Content Styles
9.0 - Team Styles
	9.1 - Team Display II with Carousel Styles
10.0 - Toggle - Accordion Styles
11.0 - Tabs Styles
12.0 - Testimonial Blockquote Styles
13.0 - Business Hours Styles
14.0 - Quote Styles
	14.1 - Blockquote Styles
	14.2 - Pullquote Styles
15.0 - Notification Boxes Styles
16.0 - Progress Bars Styles
17.0 - Pricing Table Styles
18.0 - Fancy Boxes Styles
19.0 - Colored Boxes Styles
20.0 - Callout Boxes Styles
21.0 - dt-sc-counter Styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - Column Styles
--------------------------------------------------------------*/

.dt-sc-one-column{width:100%; margin:0px; padding:0px; float:left;}

.dt-sc-one-half{width:49%;}

.dt-sc-one-third{width:32%;}

.dt-sc-two-third{width:65.8%;}

.dt-sc-one-fourth{width:23.5%;}

.dt-sc-three-fourth{width:74.5%;}

.dt-sc-one-fifth{width:18.4%;}

.dt-sc-two-fifth{width:38.8%;}

.dt-sc-three-fifth{width:59.2%;}

.dt-sc-four-fifth{width:79.6%;}

.dt-sc-one-sixth{width:17%;}

.dt-sc-two-sixth{width:30%;}

.dt-sc-three-sixth{width:49%;}
	
.dt-sc-four-sixth{width:66%;}
	
.dt-sc-five-sixth{width:83%;}	

.dt-sc-full-width-content{width:100%; display:block; float:left; margin:0px; padding:0px;}

.dt-sc-video-wrapper{margin:0px 0px 0px; float:left; width:100%; padding:0px;}

.dt-sc-video-wrapper iframe{float:left;}

.dt-sc-video-wrapper h6{color:#FFFFFF; padding:15px 20px; float:left; margin:0px;}

.column.no-space.dt-sc-one-third{width:33.3%; margin:0px;}

.column.no-space{margin-left:0px;}

.column {float: left; margin: 0px 0px 0px 2%;}

.column.first {margin-left:0px;}

/*--------------------------------------------------------------
2.0 - List Styles
--------------------------------------------------------------*/

ol.decimal{list-style-type:decimal;}
	
ol.decimal-leading-zero{list-style-type:decimal-leading-zero;}
	
ol.lower-alpha{list-style-type:lower-alpha;}
	
ol.lower-roman{list-style-type:lower-roman;}
	
ol.upper-alpha{list-style-type:upper-alpha;}
	
ol.upper-roman{list-style-type:upper-roman;}	

ol.dt-sc-fancy-list li span{color:#5c5c5c;}

ol.dt-sc-fancy-list.ocean li{color:#808080;}

ol.dt-sc-fancy-list.lightblue li{color:#7fc8d2;}

ol.dt-sc-fancy-list.palebrown li{color:#bc8d5f;}

ol.dt-sc-fancy-list.brown li{color:#564847;}

ol.dt-sc-fancy-list.blue li{color:#3498db;}

ol.dt-sc-fancy-list.chocolate li{color:#7b4b4b;}

ul.dt-sc-disc-list{list-style:disc inside;}

ul.dt-sc-disc-list li{font-size:14px;}

ul.dt-sc-disc-list li span{font-weight:600;}

ul.dt-sc-fancy-list li{display:block; position:relative; padding-left:25px;}

ul.dt-sc-article-list li{padding-bottom:20px;}

ul.dt-sc-fancy-list.caret li{padding-left:15px;}

ul.dt-sc-fancy-list li:before{color:#868686; text-decoration:inherit; font-size:14px; position:absolute; top:0px; left:0px;}

ul.dt-sc-fancy-list.thumbs-up li:before{content:"\f088";}
	
ul.dt-sc-fancy-list.thumbs-down li:before{content:"\f087";}

ul.dt-sc-fancy-list.gift li:before{content:"\f06b";}

ul.dt-sc-fancy-list.angle-double-right li:before{content:"\f101";}

ul.dt-sc-fancy-list.hand-o-right li:before{content:"\f0a4";}

ul.dt-sc-fancy-list.gavel li:before{content:"\f0e3";}

ul.dt-sc-fancy-list.pencil li:before{content:"\f040";}

ul.dt-sc-fancy-list.check-circle li:before{content:"\f058";}

ul.dt-sc-fancy-list.book li:before{content:"\f02d";}

ul.dt-sc-fancy-list.sun li:before{content:"\f185";}

ul.dt-sc-fancy-list.slack li:before{content:"\f198";}

ul.dt-sc-fancy-list.caret li:before{content:"\f0da";}

ul.dt-sc-fancy-list.ocean li:before{color:#808080;}

ul.dt-sc-fancy-list.lightblue li:before{color:#7fc8d2;}

ul.dt-sc-fancy-list.palebrown li:before{color:#bc8d5f;}

ul.dt-sc-fancy-list.brown li:before{color:#564847;}

ul.dt-sc-fancy-list.blue li:before{color:#0a5398;}

ul.dt-sc-fancy-list.chocolate li:before{color:#7b4b4b;}

ul.dt-sc-fancy-list.grey li:before{color:#858585;}

ul.dt-sc-fancy-list.red li:before{color:#d66f64;}

/*--------------------------------------------------------------
3.0 - hr Styles
--------------------------------------------------------------*/

.dt-sc-hr-invisible{width:100%; float:left; clear:both; margin:30px 0px; padding:0px; display:block;}

.dt-sc-hr-invisible-small{width:100%; float:left; clear:both; margin:15px 0px; padding:0px; display:block;}

.dt-sc-hr-invisible-very-small{width:100%; float:left; clear:both; margin:10px 0px; padding:0px; display:block;}

.dt-sc-hr-invisible-medium{width:100%; float:left; clear:both; margin:20px 0px; padding:0px; display:block;}

.dt-sc-hr-invisible-large{width:100%; float:left; clear:both; margin:35px 0px; padding:0px; display:block;}

.dt-sc-hr-invisible-very-large{width:100%; float:left; clear:both; margin:45px 0px; padding:0px; display:block;}

.dt-sc-clear{float:none; clear:both; margin:0px; padding:0px;}

.dt-sc-hr-image{background:url(../images/center_align_image.png) center center no-repeat; display:inline-block; width:100%; height:14px;}

/*--------------------------------------------------------------
4.0 - Button Styles
--------------------------------------------------------------*/

.dt-sc-button{color:#FFFFFF; margin:10px 0px 0px; display:inline-block; padding:10px 14px; font-size:13px;}

.dt-sc-button span{margin-right:5px;}

.dt-sc-button:hover{color:#FFFFFF; opacity:0.8;}

.dt-sc-button.small, .dt-sc-bordered-button.small{font-size:14px; padding:7px 25px;}

.dt-sc-button.medium, .dt-sc-bordered-button.medium{font-size:15px; padding:10px 28px;}

.dt-sc-button.large, .dt-sc-bordered-button.large{font-size:20px; padding:13px 31px;}

.dt-sc-button.xlarge, .dt-sc-bordered-button.xlarge{font-size:22px; padding:16px 32px;}

.dt-sc-simple-button{font-size:13px;}

.dt-sc-simple-button span{margin-left:2px;}

.dt-sc-bordered-button{text-transform:uppercase; color:#FFFFFF; font-weight:normal; border:1px solid #FFFFFF; padding:12px 26px; display:inline-block;}

.dt-sc-bordered-button:hover{color:#FFFFFF;}

.dt-sc-bordered-button.lightblue{box-shadow:0px 0px 0px 2px #7fc8d2; -moz-box-shadow:0px 0px 0px 2px #7fc8d2; -webkit-box-shadow:0px 0px 0px 2px #7fc8d2;}

.dt-sc-bordered-button.palebrown{box-shadow:0px 0px 0px 2px #bc8d5f; -moz-box-shadow:0px 0px 0px 2px #bc8d5f; -webkit-box-shadow:0px 0px 0px 2px #bc8d5f;}

.dt-sc-bordered-button.brown{box-shadow:0px 0px 0px 2px #564847; -moz-box-shadow:0px 0px 0px 2px #564847; -webkit-box-shadow:0px 0px 0px 2px #564847;}

.dt-sc-bordered-button:hover{opacity:0.8;}

.dt-sc-button.brown, .dt-sc-bordered-button.brown{background:#564847;}

.dt-sc-button.palebrown, .dt-sc-bordered-button.palebrown{background:#bc8d5f;}

.dt-sc-button.violet{background:#9b59b6;}

.dt-sc-button.green{background:#796e1f;}

.dt-sc-button.lightblue, .dt-sc-bordered-button.lightblue{background:#7fc8d2;}

.dt-sc-hr-button{width:100%; clear:both; text-align:right; position:relative;}

.dt-sc-hr-button:before{content:""; background-color:#eaeaea; height:1px; width:100%; display:inline-block;}

.dt-sc-hr-button a{background-color:#FFFFFF; display:block; margin:0px 0px 0px; position:absolute; right:0px; top:5px; padding:0px 0px 0px 10px;}

.dt-sc-hr-button a:hover{color:#858585;}

.dt-sc-simple-border-button{background-color:#f8f8f8; border:1px solid #CCCCCC; font-weight:normal; padding:15px 25px;}

.dt-sc-simple-border-button:hover{color:#FFFFFF;}

/*--------------------------------------------------------------
5.0 - Highlight Styles
--------------------------------------------------------------*/

.dt-sc-highlight{text-transform:uppercase; font-weight:bold;}

/*--------------------------------------------------------------
6.0 - Title Styles
--------------------------------------------------------------*/

.dt-sc-hr-title{text-align:center; width:100%; background:url(../images/title_bg.png) center bottom no-repeat; display:inline-block; padding:0px 0px 22px; margin:0px 0px 60px; line-height:inherit; font-weight:700; font-size:22px; position:relative; clear:both;}

.dt-sc-hr-title:before{content:""; width:370px; height:5px; display:block; margin:0 auto 15px;}

.dt-sc-hr-title:after{content:""; width:70px; height:8px; position:absolute; top:0px; left:0px; right:0px; display:block; margin:0 auto;}

.dt-sc-hr-icon-title{font-size:20px; font-weight:bold; text-transform:none; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; padding:18px 0px; margin-bottom:50px;}

.dt-sc-hr-icon-title span{margin-right:5px;}

.dt-sc-bordered-title{border-top:5px solid; border-bottom:1px solid #cccccc; font-size:20px; padding:15px 0px; margin-bottom:40px; display:inline-block; width:100%;}

.dt-sc-bordered-title:before{content:""; height:8px; width:70px; display:inline-block; float:right; margin:-20px 0px 0px;}

.dt-sc-bordered-icon-title{text-transform:capitalize; font-weight:bold; font-size:20px; border-bottom:1px solid #f2f2f2; padding-bottom:15px;}

.dt-sc-bordered-icon-title span{margin-right:5px;}

.dt-sc-simple-hr-title{text-transform:none; margin-bottom:30px;}

h4.dt-sc-simple-hr-title{margin-bottom:25px;}

/*--------------------------------------------------------------
7.0 - Social Icon Styles
--------------------------------------------------------------*/

ul.dt-sc-social-icons{margin:0px; padding:0px;}

ul.dt-sc-social-icons li, ul.dt-sc-contact-social-icons li{display:inline-block; padding-bottom:0px;}

ul.dt-sc-social-icons li a{padding:0px 10px; margin:0px; display:inline-block; color:#FFFFFF;}

ul.dt-sc-social-icons li a span{font-size:16px;}


/*--------------------------------------------------------------
8.0 - Icon Content Styles
--------------------------------------------------------------*/

.dt-sc-ico-content{width:100%; margin:0px; padding:0px; clear:both; display:block;}

.dt-sc-ico-content.type1{text-align:center; position:relative; border-bottom:5px solid; padding:35px 18px 25px; color:#FFFFFF; min-height:225px;}

.dt-sc-ico-content.type1:before{content:""; width:100%; height:3px; display:inline-block; position:absolute; left:0px; top:-4px;}

.dt-sc-ico-content.type1:after{content:""; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid; left:0px; right:0px; width:0px; margin:auto; bottom:0px; position:absolute;}

.dt-sc-ico-content.type1 .icon{display:inline-block; margin-bottom:15px;}

.dt-sc-ico-content.type1 h5{margin-bottom:5px; font-size:17px;}

.dt-sc-ico-content.type1 h5 a{color:#FFFFFF; text-transform:uppercase; font-weight:normal;}

.dt-sc-ico-content.type1 span{font-style:italic; margin-bottom:20px; display:inline-block;}

.dt-sc-ico-content.type1 .icon img, .dt-sc-ico-content.type1:hover .icon span:before, .dt-sc-ico-content.type1:hover .icon span{}

.dt-sc-ico-content.type1 .icon > span.icon-outer{border:3px solid #FFFFFF; box-shadow:0px 0px 0px 2px #FFFFFF; border-radius:100%; position:relative;}

.dt-sc-ico-content.type1 h4 a{text-shadow:none; font-size:24px; color:#2b2b2b;}

.dt-sc-ico-content.type1:hover span{color:#FFFFFF;}

.dt-sc-full-width-content{width:100%; float:left; clear:both; display:block; margin:0px; padding:0px;}

.dt-sc-ico-content.type2{padding:0px; position:relative; width:auto; display:block; text-align:center;}
	
.dt-sc-ico-content.type2 .icon{text-align:center; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; border:1px solid #cccccc; width:70px; height:70px; display:inline-block; margin-bottom:20px;}
	
.dt-sc-ico-content.type2 .icon span{text-align:center; color:#000000; font-size:24px; line-height:70px; display:inline-block; transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1);}

.dt-sc-ico-content.type2 h6{text-transform:none;}

.dt-sc-ico-content.type2 h6 a{color:#252525;}

.dt-sc-ico-content.type2 p{float:left; margin:5px 0px 0px 0px;}

.dt-sc-ico-content.type2:hover .icon{border:1px solid;}

.dt-sc-ico-content.type2:hover .icon span{color:#FFFFFF; transform:scale(1.2); -webkit-transform:scale(1.2); -moz-transform:scale(1.2);}
	
.dt-sc-ico-content.type2 h4{margin-bottom:0px; line-height:40px;}

.dt-sc-ico-content.type2:hover h4 a{color:#73d5f0;}

.dt-sc-ico-content.type3{width:100%; display:inline-block; margin-bottom:20px;}

.dt-sc-ico-content.type3 .icon{display:inline-block; margin:0px 10px 0px 0px; float:left; width:80px;}

.dt-sc-ico-content.type3:hover .icon span{border:1px solid #FFFFFF; color:#FFFFFF;}

.dt-sc-ico-content.type3 .icon span{font-size:22px; color:#858585; background:#f0f0f0; display:inline-block; margin-bottom:15px; border:1px solid #cccccc; line-height:68px; width:70px; height:70px; text-align:center; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}

.benefits_section .dt-sc-ico-content.type3 h6{margin:0px 0px 15px;}

.dt-sc-ico-content.type3 h6 a{color:inherit;}

.benefits_section .dt-sc-ico-content.type3 h6{display:inline-block; margin:0px 0px 0px; font-weight:bold; text-transform:none; line-height:55px;}

.benefits_section .dt-sc-ico-content.type3 h6 a{color:#FFFFFF; margin-bottom:0px;}

.benefits_section .dt-sc-ico-content.type3 h6 a:hover, .benefits_section .dt-sc-ico-content.type3:hover h6 a{color:#CCCCCC;}

/*--------------------------------------------------------------
9.0 - Team Styles
--------------------------------------------------------------*/

.dt-sc-team{float:left; width:100%; margin:0px 0px 20px; padding:0px; text-align:center;}

.dt-sc-team .dt-sc-team-thumb{margin-bottom:20px; display:inline-block; max-width:130px;}

.dt-sc-team .dt-sc-team-thumb img, .attorney_content .image img, .our-people-detail .image img{border:5px solid; display:block;}

.dt-sc-team.type2 .dt-sc-team-thumb img{border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}

.dt-sc-team span, .attorney_content span{font-style:italic; display:inline-block; margin-bottom:10px;}

.dt-sc-team .image{position:relative; float:left; overflow:hidden;}

.dt-sc-team h5{margin-bottom:10px;}

.dt-sc-team p{margin-bottom:20px;}

.dt-sc-team .dt-sc-button{margin-top:0px;}

.dt-sc-team .dt-sc-button, .attorney_details .dt-sc-button{padding:3px 18px;}

.dt-sc-team-phone-no{font-size:15px;}

.dt-sc-team-phone-no span{margin-right:2px;}

.dt-sc-team-content .dt-sc-button span, .dt-sc-team-phone-no span, .attorney_content .dt-sc-button span{font-style:normal; margin-bottom:0px;}

.dt-sc-team .item-mask, .author-thumb .item-mask, .portfolio-thumb .item-mask, .comment-author .item-mask{left:0; position:absolute; top:0; transition:all 0.2s ease 0s; z-index:9; clear:both;}

.dt-sc-team .image img, .author-thumb .image img, .portfolio-thumb img{float:left; width:100%; clear:both;}

.dt-sc-team .image img{height:auto;}

.dt-sc-team .image{display:inline-block; width:100%; float:none; text-align:center; margin:0px 0px 15px; max-width:220px; max-height:192px;}

.dt-sc-team .team-details{text-align:center; clear:both; float:left; width:100%;}

.dt-sc-team h4{color:#252525; margin:0px 0px 10px;}

.dt-sc-team h6, .attorney_content h6{margin-bottom:5px;}

/*--------------------------------------------------------------
9.1 - Team Display II with Carousel Styles
--------------------------------------------------------------*/

.dt-sc-attorney-carousel-wrapper{float:left; clear:both; margin:0px; padding:0px; width:100%; position:relative; display:block;}
	
.dt-sc-attorney-carousel li{display:inline-block; float:left; margin:0px 10px; text-align:center;}

.dt-sc-attorney-carousel-wrapper .carousel-arrows{position:absolute; top:-90px; right:0px;}
	
.dt-sc-attorney-carousel-wrapper .carousel-arrows a{color:#FFFFFF; float:left; width:50px; height:40px; line-height:40px; text-align:center; font-size:15px;}

.dt-sc-team.type2 span{border-bottom:1px solid #f2f2f2; padding-bottom:12px; display:block;}

.dt-sc-team.type2 span.fa{border-bottom:none; padding-bottom:0px; display:inline-block;}


/*--------------------------------------------------------------
10.0 - Toggle - Accordion Styles
--------------------------------------------------------------*/

.dt-sc-toggle-frame-set{float:left; width:100%; margin:0px; padding:0px;}

.dt-sc-toggle-frame{padding-bottom:20px; display:block;}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion, .dt-sc-toggle-frame h5.dt-sc-toggle{font-weight:normal; font-size:16px; position:relative; text-transform:uppercase; margin:0px 0px 0px; padding:0px; background:#f7f7f7;}

.dt-sc-toggle-frame h5 a{display:block; text-transform:uppercase; font-size:16px; color:#5c5c5c;}

.dt-sc-toggle-frame h5 a:before, .dt-sc-toggle-frame h5 a:after{position:absolute; text-decoration:inherit; font-size:14px;}

.faq .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:before, .faq .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:before{content:"\f077"; top:-6px; left:0px; position:absolute; font-weight:normal; font-size:14px;}

.faq h5.dt-sc-toggle-accordion a{padding:0px; line-height:inherit;}

.dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:after, .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle:after{content:"\f0d7"; top:0px; right:0px; display:inline-block; float:left; position:absolute; font-size:15px; width:50px; height:50px; text-align:center; line-height:50px; color:#FFFFFF; cursor:pointer;}

.dt-sc-toggle-frame-set h5.dt-sc-toggle-accordion:before, h5.dt-sc-toggle:before{top:0px; right:0px; display:inline-block; float:left; position:absolute; font-size:15px; width:50px; height:50px; text-align:center; line-height:50px; color:#FFFFFF;}

.dt-sc-toggle-frame .dt-sc-toggle-content{padding:30px 10px 15px 0px; margin:0px 0px 0px 0px; background:#FFFFFF; line-height:28px;}

.dt-sc-toggle-frame .dt-sc-toggle-accordion.active, .dt-sc-toggle-frame .dt-sc-toggle.active{background:#f7f7f7; margin-bottom:0px; padding:0px;}

.dt-sc-toggle-frame .dt-sc-toggle.active a:before, .dt-sc-toggle-frame .dt-sc-toggle.active a:after, .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle.active:before{content:"";}

h5.dt-sc-toggle-accordion.active:after, h5.dt-sc-toggle.active:after{content:"\f0d8";}

h5.dt-sc-toggle-accordion:after, h5.dt-sc-toggle:after{content:"\f0d7"; color:#FFFFFF; margin-left:20px; width:50px; height:50px; display:inline-block; text-align:center; line-height:50px;}

h5.dt-sc-toggle-accordion{margin-left:0px;}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion:after, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active:after{margin-left:0px; font-size:15px;} 

.dt-sc-toggle-frame-set h5.dt-sc-toggle-accordion:before, h5.dt-sc-toggle:before{content:"\f0d7";}

.dt-sc-toggle-frame-set h5.dt-sc-toggle-accordion:after, h5.dt-sc-toggle:after{content:""; height:0px; width:0px; display:none;}

h5.dt-sc-toggle-accordion.active:before, .dt-sc-toggle-frame-set h5.dt-sc-toggle.active:before{content:"\f0d8";}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active:before, .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle.active:before, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:before, .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle:before{content:""; background:none;}

.faq h5.dt-sc-toggle-accordion{padding-left:55px; line-height:45px; font-size:15px; margin:0px 0px 5px;}

.faq .dt-sc-toggle-content{padding-left:55px; line-height:inherit;}

.faq h5.dt-sc-toggle-accordion:before{content:"\f128"; background:none; color:#252525; width:42px; height:42px; line-height:42px; border:1px solid #252525; display:inline-block; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}

.faq h5.dt-sc-toggle-accordion:after{content:""; width:auto; height:auto; display:none;}

.faq h5.dt-sc-toggle-accordion.active:before{content:"\f128"; background:none;}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion{line-height:inherit;}

h5.dt-sc-toggle-accordion, .dt-sc-toggle-frame h5.dt-sc-toggle, h5.dt-sc-toggle{position:relative; text-transform:none; margin-bottom:20px; font-weight:normal; font-size:16px;}

h5.dt-sc-toggle-accordion, h5.dt-sc-toggle{padding:0px 0px 0px 70px; line-height:50px;}

.dt-sc-toggle-frame h5.dt-sc-toggle{margin-bottom:0px; line-height:inherit;}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle a{font-weight:normal;}

h5.dt-sc-toggle-accordion a{}

h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle a, h5.dt-sc-toggle a{font-weight:normal; text-transform:none; padding:14px 10px 12px 60px; display:block; line-height:24px;} 

h5.dt-sc-toggle-accordion:before, h5.dt-sc-toggle:before{display:inline-block; text-align:center; position:absolute; top:0px; left:0px; z-index:1; cursor:pointer;}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active:after, .dt-sc-toggle-frame h5.dt-sc-toggle.active:after{content:"\f0d8"; color:#FFFFFF; cursor:pointer;}

.dt-sc-toggle-content{padding-bottom:20px; line-height:28px; clear:both; display:none;}

/*--------------------------------------------------------------
11.0 - Tabs Styles
--------------------------------------------------------------*/

ul.dt-sc-tabs-frame, ul.dt-sc-tabs{margin:0px; padding:0px; width:100%;}

ul.dt-sc-tabs-frame li{display:inline; float:left; margin:0px; padding:0px;}

.dt-sc-tabs-frame-content, .dt-sc-tabs-content{background:#FFFFFF; display:block; float:left; clear:both; width:100%; padding:45px 0px 20px 0px; margin:0px 0px 0px 0px;}

.dt-sc-tabs-frame-content ul li{padding-bottom:5px;}

.dt-sc-tabs-content{padding:25px 20px 20px 0px;}

.dt-sc-tabs-frame-content ul.dt-sc-ico-list{margin:0px 0px 0px; display:inline-block;}

.dt-sc-tabs-frame-content ul.dt-sc-ico-list li{float:left; display:inline-block; width:185px; padding:10px 0px; font-size:16px;}

.dt-sc-tabs-frame-content ul.dt-sc-ico-list li span{font-size:24px; margin:2px 15px 0px 0px; float:left;}

.dt-sc-tabs-frame-content h2{font-size:26px; margin-bottom:15px;}

.dt-sc-tabs-frame-content h5, .dt-sc-tabs-content h5{font-size:16px; margin-bottom:40px; font-weight:normal;}

.dt-sc-tabs-content{line-height:28px;}

ul.dt-sc-tabs li{margin-right:2px; float:left; display:inline; padding-bottom:0px;}

ul.dt-sc-tabs-frame li{margin-right:2px; float:left; display:inline; padding-bottom:0px;}

ul.dt-sc-tabs li a{padding:0px 20px; line-height:50px; display:inline-block; font-size:16px; font-weight:normal; position:relative; z-index:1; text-transform:capitalize;}

ul.dt-sc-tabs li:first-child a{padding-left:0px;}

ul.dt-sc-tabs-frame li a{padding:0px 20px; line-height:50px; display:inline-block; font-size:16px; font-weight:normal; position:relative; z-index:1; background:#f7f7f7; border-top:5px solid;}
/*ul.dt-sc-tabs-frame li a{padding:0px 20px; line-height:50px; display:inline-block; font-size:16px; font-weight:normal; position:relative; z-index:1; background:#f7f7f7; text-transform:capitalize; border-top:5px solid;}*/

ul.dt-sc-tabs-frame li a.current, ul.dt-sc-tabs-vertical-frame li a.current{color:#FFFFFF;}



.dt-sc-tabs-frame-content img.alignleft{margin-right:35px;}

.dt-sc-tabs-frame-content h5{margin:15px 0px 10px; text-transform:none;}

.dt-sc-tabs-frame-content p{margin:0px 0px 10px 0px;}

/*--------------------------------------------------------------
12.0 - Testimonial Blockquote Styles
--------------------------------------------------------------*/

.dt-sc-testimonial{position:relative; float:left; display:block; width:100%;}

.dt-sc-testimonial blockquote{position:relative; padding:15px 0px 25px 30px; float:left; display:block; margin:0px; margin:0px 0px 25px 0px; font-size:14px; line-height:28px; border:none; border-bottom:1px solid #f2f2f2;}

.dt-sc-testimonial blockquote q:before, .dt-sc-testimonial blockquote q:after{font-style:italic; position:absolute; color:#838585; width:auto; height:auto; line-height:inherit; background:none;} 

.dt-sc-testimonial blockquote q:after{bottom:20px; right:auto; padding-left:10px;}

.dt-sc-testimonial blockquote q:before{top:15px; left:0px;}

.dt-sc-testimonial .author{float:right; margin:0px 0px 0px 3px; display:block; width:56px;}

.dt-sc-testimonial .author img{border:2px solid; float:left; display:inline-block; margin:0px 10px 0px 0px;}

.dt-sc-testimonial:hover .author img{border:2px solid;}

.dt-sc-testimonial .author-meta p{font-size:14px; margin-bottom:5px;}

.dt-sc-testimonial .author-meta{float:right; margin:2px 20px 0px 0px; display:inline-block; text-align:right;}

.dt-sc-testimonial .author-meta span{display:block; margin-bottom:8px; font-style:italic;}

/*--------------------------------------------------------------
13.0 - Business Hours Styles
--------------------------------------------------------------*/

.dt-sc-business-hours{width:100%; float:left;}

.dt-sc-business-hours p{font-size:14px;}

.dt-sc-business-hours p span{float:right;}
	

/*--------------------------------------------------------------
14.0 - Quote Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
14.1 - Blockquote Styles
--------------------------------------------------------------*/

blockquote{padding:30px 18px; margin:0px; position:relative; line-height:26px; font-size:14px;}

blockquote q:before, blockquote q:after{font-size:30px; font-style:italic; position:absolute;}

blockquote q:before{top:24px; left:10px;}

blockquote q:after{bottom:0px; right:15px;}

blockquote.alignright{margin-left:30px; text-align:left; width:30%; float:right;}

blockquote.alignleft{margin-right:30px; text-align:left; width:35%; float:left;}

blockquote{border-top:5px solid #f2f2f2; display:block; border-bottom:5px solid #f2f2f2; line-height:28px;}

blockquote q:before, blockquote q:after{top:-18px; left:0px; font-style:normal; color:#FFFFFF; width:30px; height:30px; text-align:center; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; line-height:50px;}

blockquote.lightblue q:before, blockquote.lightblue q:after{background:#7fc8d2;}

blockquote.palebrown q:before, blockquote.palebrown q:after{background:#bc8d5f;}

blockquote.brown q:before, blockquote.brown q:after{background:#564847;}

blockquote q:after{left:auto; right:0px; top:auto; bottom:-18px; line-height:50px;}

/*--------------------------------------------------------------
14.2 - Pullquote Styles
--------------------------------------------------------------*/

.dt-sc-pullquote{letter-spacing:0; line-height:25px; padding:15px; width:36%; border-top:4px double #D9D9D9; border-bottom:4px double #D9D9D9;}

.dt-sc-pullquote.alignright{margin:20px 0px 20px 20px;}

.dt-sc-pullquote.alignleft{margin:20px 20px 20px 0px;}

.dt-sc-pullquote.aligncenter{margin:20px 0px 20px 0px; text-align:center; display:block; width:100%;}


/*--------------------------------------------------------------
15.0 - Notification Boxes Styles
--------------------------------------------------------------*/


.dt-sc-error-box p, .dt-sc-warning-box p, .dt-sc-success-box p, .dt-sc-info-box p{margin-bottom:0; line-height:20px;}

.dt-sc-error-box, .dt-sc-warning-box, .dt-sc-success-box, .dt-sc-info-box{clear:both; margin-bottom:25px; padding:15px 15px 12px 42px;}

.dt-sc-error-box a, .dt-sc-warning-box a, .dt-sc-success-box a, .dt-sc-info-box a{text-decoration:underline;}

.dt-sc-error-box a:hover, .dt-sc-warning-box a:hover, .dt-sc-success-box a:hover, .dt-sc-info-box a:hover{text-decoration:none;}

.dt-sc-error-box{background:#FFCCCC; border:1px solid #FF9999; color:#D01313; position:relative;}

.dt-sc-error-box:before, .dt-sc-warning-box:before, .dt-sc-success-box:before, .dt-sc-info-box:before{font-size:25px; left:12px; position:absolute; text-decoration:inherit; top:13px;}

.dt-sc-error-box:before{color:#C54228; content:"\f057";}

.dt-sc-warning-box{background:#FDEBAE; border:1px solid #E6C555; color:#C79D13; position:relative;}

.dt-sc-warning-box:before{color:#E2B828; content:"\f06a";}

.dt-sc-success-box{background:#C0DF89; border:1px solid #A0CE4E; color:#466C00; position:relative; text-shadow:1px 1px 0 #E3F1CB;}

.dt-sc-success-box:before{color:#75B632; content:"\f058";}

.success-msg, .error-msg{display:block; margin-bottom:30px; clear:both;}

footer .success-msg{color:#5c5c5c;}

.error-msg{color:#FF0000;}

.dt-sc-info-box{background:#BFE4F9; border:1px solid #68A2CF; color:#2081B9; position:relative;}

.dt-sc-info-box:before{color:#008BC1; content:"\f05a";}

.dt-sc-error-box a{color:#D01313;}

.dt-sc-warning-box a{color:#C79D13;}

.dt-sc-success-box a{color:#7BA411;}

.dt-sc-info-box a{color:#2081B9;}

/*--------------------------------------------------------------
16.0 - Progress Bars Styles
--------------------------------------------------------------*/

.dt-sc-progress{height:42px; margin-bottom:10px; clear:both; display:block;}

.dt-sc-progress .dt-sc-bar{position:relative;}

.dt-sc-bar-text{margin-bottom:5px; color:#494949;}

.dt-sc-progress .dt-sc-bar-text{font-size:14px; position:absolute; top:0; left:0; line-height:42px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; padding:0px 20px; color:#FFFFFF; font-weight:bold; width:100%; text-align:left; display:none;}

.dt-sc-progress .dt-sc-bar-text > span{float:right; display:block;}

.dt-sc-progress{overflow:hidden; height:20px; background-color:#f7f7f7; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}

.dt-sc-progress .dt-sc-bar{width:0%; height:100%; color:#FFFFFF; float:left; font-size:12px; text-align:center; background-repeat:repeat-x; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-transition:width 0.6s ease; -moz-transition:width 0.6s ease; -o-transition:width 0.6s ease; transition:width 0.6s ease;}

.dt-sc-progress .dt-sc-bar + .dt-sc-bar {
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15);
}

.dt-sc-progress-striped .dt-sc-bar {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  -webkit-background-size: 20px 20px;
	  -moz-background-size: 20px 20px;
	  -o-background-size: 20px 20px;
	  background-size: 20px 20px;
}

.dt-sc-progress-striped .dt-sc-bar {
}
.dt-sc-progress.active .dt-sc-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-ms-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
 @-webkit-keyframes progress-bar-stripes {
 from {
 background-position: 40px 0;
}
to {
	background-position: 0 0;
}
}
 @-moz-keyframes progress-bar-stripes {
 from {
 background-position: 40px 0;
}
to {
	background-position: 0 0;
}
}
 @-ms-keyframes progress-bar-stripes {
 from {
 background-position: 40px 0;
}
to {
	background-position: 0 0;
}
}
 @-o-keyframes progress-bar-stripes {
 from {
 background-position: 0 0;
}
to {
	background-position: 40px 0;
}
}
 @keyframes progress-bar-stripes {
 from {
 background-position: 40px 0;
}
to {
	background-position: 0 0;
}
}

/*--------------------------------------------------------------
17.0 - Pricing Table Styles
--------------------------------------------------------------*/

.dt-sc-pricing-table.no-space .dt-sc-one-fourth{width:25%;}

.dt-sc-pricing-table.no-space .column{margin-left:0px;}

.dt-sc-pr-tb-col.selected{border:1px solid #cccccc;}

.dt-sc-tb-header .dt-sc-tb-thumb .dt-sc-tb-title{bottom:0; display:inline-block; left:0; opacity:0.9; position:absolute; width:100%; padding:15px 0px; z-index:9;}

.dt-sc-tb-header .dt-sc-tb-thumb{display:inline-block; width:100%; position:relative; float:left;}

.dt-sc-pricing-table{width:100%; margin:30px 0px 20px; padding:0px; float:left;}
	
.dt-sc-pr-tb-col{position:relative; border:1px solid #dfdfdf; background:#ffffff; width:100%; margin:0px; padding:0px; text-align:center; -webkit-transition:-webkit-box-shadow 0.2s ease-out; -moz-transition:-moz-box-shadow 0.2s ease-out; 	-o-transition:-o-box-shadow 0.2s ease-out; transition:box-shadow 0.2s ease-out; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
	
.dt-sc-tb-title h5{padding:20px; font-weight:600; font-size:18px; line-height:normal; text-transform:uppercase; margin-bottom:0px;}

.dt-sc-tb-header .dt-sc-price{background:#f0f0f0; margin:0px; padding:25px 20px 25px 20px; display:block; font-size:48px; font-weight:300; color:#181818;}

.dt-sc-tb-header .dt-sc-price span{font-size:18px;}
	
.dt-sc-tb-content{list-style-type:none; margin:0px;}
	
.dt-sc-tb-content li{font-size:14px; color:#333333; border-bottom:1px solid #dfdfdf; padding:18px 10px;}
		
.dt-sc-pr-tb-col .dt-sc-buy-now{padding:20px; margin:0px;}
	
.dt-sc-pr-tb-col .dt-sc-buy-now .dt-sc-button{margin:0px; padding:10px 20px;}
	
.dt-sc-pr-tb-col .dt-sc-buy-now .dt-sc-button:after{background:#666667;}
	
.dt-sc-pr-tb-col .dt-sc-buy-now .dt-sc-button:hover, .dt-sc-pr-tb-col.selected .dt-sc-buy-now .dt-sc-button:hover{color:#ffffff;}
	
.dt-sc-pr-tb-col, .dt-sc-tb-header .dt-sc-price, .dt-sc-tb-title h5, .dt-sc-pr-tb-col .dt-sc-buy-now{-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}
	
.dt-sc-pr-tb-col.selected, .dt-sc-pr-tb-col:hover{z-index:9; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); margin-top:-15px;}
   
.dt-sc-pr-tb-col:hover{z-index:1;}
	
.dt-sc-pr-tb-col.selected .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col:hover .dt-sc-tb-header .dt-sc-price{padding:35px 20px;}

.dt-sc-pr-tb-col.selected .dt-sc-tb-header .dt-sc-price{color:#FFFFFF;}
	
.dt-sc-pricing-table.no-space .column{margin-left:0px;}
	
.dt-sc-pr-tb-col .dt-sc-tb-title h3{margin-bottom:0px;}

.dt-sc-tb-header .dt-sc-price{display:inline-block; color:#999999; position:relative; width:100%;}

/*--------------------------------------------------------------
18.0 - Fancy Boxes Styles
--------------------------------------------------------------*/

.dt-sc-titled-box h4.dt-sc-titled-box-title{color:#ffffff;}

.dt-sc-titled-box h4.dt-sc-titled-box-title{padding:10px 15px; text-shadow:none; text-transform:none; margin:0px;}

.dt-sc-titled-box h4.dt-sc-titled-box-title span{margin-right:5px; font-size:18px;}

.dt-sc-titled-box-content{padding:15px 15px 20px; background:#ffffff; border:1px solid #e2e2e2; border-top:0px;}

.dt-sc-titled-box h4.dt-sc-titled-box-title{font-size:16px;}

.dt-sc-titled-box.lightblue h4.dt-sc-titled-box-title{background:#7fc8d2;}

.dt-sc-titled-box.palebrown h4.dt-sc-titled-box-title{background:#bc8d5f;}

.dt-sc-titled-box.brown h4.dt-sc-titled-box-title{background:#564847;}

.dt-sc-colored-box{width:100%; float:left; margin:0px;}

.dt-sc-colored-box h4{border-bottom:1px solid #5c5c5c; padding-bottom:15px; margin-bottom:15px;}

.dt-sc-colored-box h4 span{font-size:30px; margin-right:10px; position:relative; top:3px;}

.dt-sc-colored-box h4{color:#5c5c5c;}

.dt-sc-colored-box.light-pink{background:#f6d4e1;}

.dt-sc-colored-box.pink{background:#f3c5d7;}

.dt-sc-colored-box.dark-pink{background:#f2b7ce;}


/*--------------------------------------------------------------
19.0 - Colored Boxes Styles
--------------------------------------------------------------*/

.dt-sc-colored-box{width:100%; float:left; color:#FFFFFF; margin:-54px 0px 0px; position:relative; min-height:50px;}

.dt-sc-colored-box h5{text-align:center; border-bottom:1px solid; padding:15px 0px; margin-bottom:0px;}

.dt-sc-colored-box h5, .dt-sc-colored-box ul li:before, .dt-sc-colored-box ul.dt-sc-fancy-list li a, .dt-sc-colored-box ul li a{color:#FFFFFF;}

.dt-sc-colored-box ul.dt-sc-fancy-list li a{display:block;}

.dt-sc-colored-box ul li a:hover{color:#CCCCCC;}

.dt-sc-colored-box ul li{text-transform:none; padding-bottom:20px; font-size:14px;}

.dt-sc-colored-box ul.dt-sc-fancy-list li{padding-bottom:10px; line-height:20px;}

.dt-sc-colored-box-content{padding:40px 30px 20px;}

.dt-sc-colored-box.centered h5{border-bottom:1px solid;}

.dt-sc-colored-box-content p{font-size:14px; line-height:28px; margin-bottom:8px; color:#FFFFFF;}


/*--------------------------------------------------------------
20.0 - Callout Boxes Styles
--------------------------------------------------------------*/


.dt-sc-callout-box{width:100%; margin:0px; padding:25px 3%; float:left;}
	
.dt-sc-callout-box h4{text-transform:none; margin-bottom:10px; font-weight:normal;}
	
.dt-sc-callout-box h5{text-transform:none; font-size:16px; font-weight:normal; color:#858585; margin-bottom:0px;}
	
.dt-sc-callout-box .dt-sc-button{padding:12px 20px; float:right; margin:5px 0px 0px;}
	
.dt-sc-callout-box .icon{width:65px; height:65px; float:left; margin:-5px 20px 0px 0px; text-align:center; line-height:70px; font-size:36px; border-radius:65px;}
	
.dt-sc-callout-box.with-icon{padding:25px 3% 25px 2%; width:95%;}
	
.dt-sc-callout-box.with-icon h4{font-size:24px; font-weight:300; text-transform:none;}
	
.dt-sc-callout-box.type1{border:1px solid #CCCCCC;}	
	
.dt-sc-callout-box.type2, .dt-sc-callout-box.type5{background:#f6f6f6;}	
	
.dt-sc-callout-box.type3{background:#f6f6f6; border-left:1px solid;}
	
.dt-sc-callout-box.type1 .icon, .dt-sc-callout-box.type5 .icon{color:#ffffff; border:1px solid;}
	
.dt-sc-callout-box.type2 .icon, .dt-sc-callout-box.type3 .icon{background:#ffffff;}
	
.dt-sc-callout-box.type1 .dt-sc-button{color:#ffffff;}
	
.dt-sc-callout-box.type1 .dt-sc-button:after{background:#ffffff;}
	
.dt-sc-callout-box.type1:hover .icon{background:none;}
	
.dt-sc-callout-box.type2:hover .icon, .dt-sc-callout-box.type3:hover .icon{color:#ffffff;}

/*--------------------------------------------------------------
21.0 - dt-sc-counter Styles
--------------------------------------------------------------*/

.dt-sc-counter .dt-sc-counter-border{border:1px solid #FFFFFF; padding:65px 0px 80px;}

.dt-sc-counter-number{font-size:30px; font-weight:bold; color:#FFFFFF; display:inline-block;}

.dt-sc-counter .icon{width:74px; height:74px; line-height:86px; background-color:#FFFFFF; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; display:block; margin:-37px auto 0px; float:none;}

.dt-sc-counter .icon span{font-size:28px;}

.dt-sc-counter-border span{font-size:28px; color:#FFFFFF; font-weight:bold;}

.dt-sc-counter h6{font-weight:normal; color:#FFFFFF;}

.dt-sc-counter:hover .icon span{color:#FFFFFF;}

/**dt-sc-practice-content styles**/

.dt-sc-practice-content{display:none;}

/*---------------------------------------------------------
Otros
----------------------------------------------------------*/
.btn-margin{margin-top: 75px;margin-left: 10px;}
@media only screen and (max-width: 479px) and (min-width: 320px){.btn-margin{margin-top: 10px;margin-left: 10px;}}
