@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - General Styles
2.0 - Font Family
3.0 - Header Styles
	3.1 - Menu styles
4.0 - Main Styles
	4.1 - Breadcrumb Styles
	4.2 - fullwidth-background Styles
5.0 - Team Styles 
6.0 - Blog Styles
	6.1 - Blog Comments Styles
7.0 - Pagination Styles
8.0 - Contact Page Styles
9.0 - Sidebar Styles
10.0 - Form Styles
11.0 - Footer Styles
12.0 - Style Picker Styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - General Styles
--------------------------------------------------------------*/

*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

body{background:#FFFFFF; color:#4e4a4a; margin:0px; padding:0px; font-family:'Merriweather', serif;; font-size:14px; line-height:25px; font-weight:300;}

.container{width:1170px; margin:0 auto;}

body.boxed{background-attachment:fixed;}

.boxed .wrapper{width:1250px; margin:0 auto; float:none;}

.inner-wrapper{margin:0px; width:100%; float:left; padding:0px;}

.boxed .inner-wrapper{background-color:#FFFFFF; margin:30px 0px;}

.boxed #menu-container{width:1250px;}

article, aside, details, figcaption, figure, footer, header, menu, nav, section{display:block;}

a{text-decoration:none;}

q:before{content:"\201c";}

q:after{content:"\201d";}

a, .textWrapper, ul.products .image-overlay, footer .widget_recent_entries ul li img, footer .widget_recent_entries ul li, input[type="submit"], .entry-thumb, input[type=submit], .dt-sc-ico-content.type2 .icon span, .dt-sc-team .team-details h4, h5.dt-sc-toggle, .dt-sc-ico-content.type3 .icon, .dt-sc-ico-content.type3 .icon span, button[type=submit], h5.dt-sc-toggle-accordion:before, h5.dt-sc-toggle:before, .dt-sc-toggle-frame h5.dt-sc-toggle, h5.dt-sc-toggle, h5.dt-sc-toggle-accordion:before, h5.dt-sc-toggle:before, .dt-sc-toggle-frame h5 span:before, .dt-sc-toggle-frame h5 span:after, .dt-sc-toggle-frame h5 span, .dt-sc-toggle-frame h5 a:before, .dt-sc-toggle-frame h5 a:after, .dt-sc-toggle-frame, h5.dt-sc-toggle-accordion, h5.dt-sc-toggle, header ul.dt-sc-social-icons li a:after, .dt-sc-ico-content.type1, .dt-sc-ico-content.type1 span, .dt-sc-ico-content.type1:after, .dt-sc-ico-content.type1:before, .dt-sc-ico-content.type2 .icon, .dt-sc-ico-content.type2 span, .dt-sc-toggle-frame h5, .footer-logo a span, .dt-sc-ico-content.type3 .icon span, .dt-sc-tb-header .dt-sc-price, .dt-sc-testimonial .author img, .dt-sc-colored-box, .dt-sc-counter .icon, .dt-sc-team .dt-sc-team-thumb img, footer .widget_recent_entries .entry-meta .comments span{-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}


.dt-sc-hr-title, .dt-sc-hr-icon-title, .dt-sc-ico-content.type2 h6 a, .recent_studys h6 a, h5.dt-sc-toggle a, .dt-sc-team-phone-no, .phone-no, .breadcrumb-section .breadcrumb a, h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle a, ul.dt-sc-tabs li a, ul.dt-sc-tabs-vertical-frame li a, ul.dt-sc-tabs-frame li a, .dt-sc-tabs-frame-content ul.dt-sc-ico-list li, .pagination, .pagination ul li a, .pagination .next-post a, .pagination .prev-post a, #secondary .widget .investigation_content h6 a, .about-author h2, .widget.widget_text h6 a, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a:hover, .dt-sc-toggle-frame h5.dt-sc-toggle a:hover, .breadcrumb-section .breadcrumb span.current, .megamenu-child-container .widget_text span.dt-sc-highlight, .office_locations .dt-sc-text-overlay p span, .dt-sc-simple-hr-title, .dt-sc-simple-border-button{color:#252525;}

.top-bar ul.dt-sc-social-icons li a:hover{color:#cccccc;}

a.highlighter:hover{border-bottom:1px dotted #008c99;}

h5, .dt-sc-team-content h6, .recent_studys h6 a, .widget_recent_entries .entry-title h6 a, h3.widgettitle, .dt-sc-colored-box h5, .dt-sc-colored-box ul li, .dt-sc-bordered-title, .benefits_section h5, .attorney_content h6, .pagination, .about-author h2, .commententries h2{font-weight:normal;}

p{margin:0px 0px 10px; padding:0px; text-align: justify;}

img{border:none; max-width:100%;}

ul{list-style:none; margin:0px; padding:0px;}

ol{margin:0px; padding:0px; list-style-position:outside; padding-left:20px;}

ul li, ol li{padding-bottom:10px;}

ul li span.fa{margin-right:5px;}

h1, h2, h3, h4, h5, h6{margin:0px; padding:0px; color:#2f2f2f; font-weight:normal;}

h1{font-size:28px; margin-bottom:25px;}

h2{font-size:26px; margin-bottom:25px;}

h3{font-size:24px; margin-bottom:15px;}

h4{margin-bottom:20px; font-size:20px;}

h5{font-size:18px; margin-bottom:20px;}

h6{margin-bottom:15px; font-size:15px;}

p i{line-height:28px;}

sub, sup{font-size:14px; line-height:0; vertical-align:baseline;}

del{text-decoration:line-through;}

table{border-collapse:separate; border-spacing:0; margin-bottom:20px; width:100%; clear:both; border:1px solid #f0f0f0; border-bottom:0px;}
	
th{color:#ffffff; border-bottom:1px solid #f0f0f0; padding:15px; line-height:normal; text-transform:uppercase; text-align:center;}
	
td{border-bottom:1px solid #ededed; background:#f5f5f5; line-height:normal; text-align:center; padding:13px 15px; color:#808080;}
	
tbody tr:nth-child(2n+1) td{background:#ffffff;}
	
tbody td .dt-sc-button.small{padding:7px 14px; font-size:12px; margin:0px;}

iframe{max-width:100%; border:none; width:100%;}

#map{height:300px; margin:5px 0px 0px; max-width:100%;}

.aligncenter{text-align:center; width:100%; display:inline-block; margin:0 auto;}

.alignleft{float:left; margin:0px 30px 0px 0px;}

.alignleft p, p.alignleft{line-height:28px; text-align:left;}

p.alignleft{margin-right:0px; font-size:14px;}

h5.alignleft{text-align:left; margin:0px 0px 40px;}

.alignright{float:right;}

.float-right{float:right;}
	
.float-left{float:left;}

blockquote q{font-style:italic;}

input[type=text], input[type=email], input[type=number], select{width:100%; padding:16px 18px; font-size:14px; font-weight:normal; color:#000000; background:#FFFFFF; border:1px solid #cccccc; outline:none;}

input[type=text]:focus, input[type=email]:focus, textarea:focus{box-shadow:0px 0px 10px #ddd; -webkit-box-shadow:0px 0px 10px #ddd; -moz-box-shadow:0px 0px 10px #ddd;}

input[type=text]:focus.error, input[type=email]:focus.error, textarea:focus.error{box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}

input[type="button"]{border:0px; outline:none; cursor:pointer; -webkit-appearance:none; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px;}

input[type=submit]{
    text-transform:uppercase; 
    /*color:#FFFFFF;*/ 
    font-weight:600; 
    /*border:1px solid #FFFFFF;*/ 
    padding:17px 28px; 
    cursor:pointer; 
    display:inline-block; 
    -webkit-appearance:none; 
    border-radius:0px; 
    -webkit-border-radius:0px; 
    -moz-border-radius:0px;}

input[type=submit]:hover{opacity:0.8;}

select option{padding:5px 5px;}

.mailchimp-form input[type=submit]:hover{opacity:0.8; color:#FFFFFF;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance:none; margin:0;}

button[type=submit]{cursor:pointer; border:0px; outline:none;}

textarea{border:1px solid #cccccc; outline:none; font-size:14px; color:#a9a7a7; padding:16px 18px; width:100%;}

.contact-form input[type=text].error, input[type=number].error, .contact-form input[type=email].error, input.error, textarea.error, select.error{padding:15px 18px; border:1px solid #FF0000;}

.fixed-help-form input[type=text].text_input.error{border:1px solid #FF0000;}

.fixed-help-form input[type=number].number_input.error{border:1px solid #FF0000;}

.mailchimp-form input[type=email].error, .mailchimp-form textarea.error{padding-top:15px; padding-bottom:14px; border:1px solid #FF0000;}

select{padding:14px 10px; width:100%; background-color:#FFFFFF; border:1px solid #cccccc; color:#75757d; cursor:pointer; height:50px; font-size:14px; margin:0px 0px 0px; padding:0px 16px; outline:none; text-indent:0.01px;
text-overflow:''; width:99.9%; appearance:none; -webkit-appearance:none; -moz-appearance:none; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0;}

select{opacity:1; -moz-appearance:none; -moz-user-select:none; cursor:pointer; width:100%;}

.select-sort{display:block; width:100%; position:relative; float:left;}

span.select-sort:before, span.select-sort:after{content:""; pointer-events:none; position:absolute;}

.date-to-consult span.select-sort:before{content:"\f073"; border:none; bottom:0; height:0; margin:0px auto; right:20px; top:0px; z-index:1; line-height:50px;}

.date-to-consult span.select-sort:after{height:49px;}

@-moz-document url-prefix() {
    .date-to-consult span.select-sort:after{height:51px;}
}

#ui-datepicker-div table{border:1px solid #cccccc; border-bottom-color:#cccccc;}

#ui-datepicker-div table tr:last-child td{border-bottom:0px;}

.ui-datepicker-header{border:1px solid #cccccc; border-bottom:0px; padding:10px 15px; background-color:#FFFFFF;}

#ui-datepicker-div a, #ui-datepicker-div span{font-size:12px;}

.ui-datepicker-prev{float:left;}

.ui-datepicker-next{float:right;}

.ui-datepicker-title{text-align:center;}

.hasDatepicker{cursor:pointer;}

span.select-sort:before{content:""; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid rgba(0, 0, 0, 0.3); bottom:0; height:0; margin:0px auto; right:20px; top:23px; z-index:1; line-height:50px;}

span.select-sort:after{background:#f7f7f7; border-left:1px solid #cccccc; border-right:1px solid #cccccc; height:48px; right:0; top:1px; width:48px;}

textarea{width:100%; padding:16px 18px; background:#FFFFFF; height:190px;}

#main form p{margin-bottom:30px;}

.error{color:#FF0000;}

/*--------------------------------------------------------------
2.0 - Font Family
--------------------------------------------------------------*/

.dt-sc-colored-box-content p i, select, .select-sort, textarea, .about-author .author-description h6, input[type=text], input[type=number], input[type=email], ul.dt-sc-locations li .dt-sc-text-overlay p, .dt-sc-callout-box h4, .dt-sc-callout-box h5, .dt-sc-titled-box h4.dt-sc-titled-box-title, .mailchimp-form input[type=submit], span.dt-sc-highlight, .menu-item-widget-area-container .widget.widget_text .textwidget h4, #main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text .dt-sc-bordered-button, .dt-sc-counter h6, footer .widget_recent_entries .entry-meta .date, footer .widget_recent_entries .entry-meta .comments{font-family:'Merriweather', serif;}

h1, h2, h3, h4, h5, h6, #main-menu ul.menu li a, .dt-sc-hr-title, .dt-sc-ico-content.type1 h5 a, .dt-sc-team-phone-no, .phone-no, .breadcrumb-section, .dt-sc-colored-box h5, .dt-sc-colored-box ul li, .dt-sc-colored-box-content p, span.aligncenter, ul.dt-sc-tabs li a, ul.dt-sc-tabs-frame li a, ul.dt-sc-tabs-vertical-frame li a, ul.dt-sc-tabs-vertical-frame li a, .dt-sc-tabs-frame-content ul.dt-sc-ico-list li, .attorney_content h6, #secondary h3.widgettitle, #secondary .widget_categories ul li a, .dt-sc-business-hours p, .menu-item-widget-area-container .widget.widget_recent_entries h6, .dt-sc-counter-number, .dt-sc-counter-border span, .dt-sc-hr-button, #main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text span.dt-sc-highlight, .mailchimp p, .dt-sc-button, .office_locations p, .office_locations ul.dt-sc-locations li, footer h3.widgettitle{font-family:'Domine', serif;}

.dt-sc-ico-content.type1 span, .dt-sc-simple-button, h3.widgettitle, #secondary .widget_add .dt-sc-bordered-button, .pagination, .footer-logo a, .our-people-detail-info ul li, #secondary .widget.widget_text .dt-sc-bordered-button, .entry-meta .date, .entry-meta .comments, footer .widget_recent_entries h6{font-family:'Noto Serif', serif; font-weight:normal;}

#menu-container #searchform input[type=text]{font-family:'Open Sans', sans-serif;}

#menu-container #searchform input[type=submit], h5.dt-sc-toggle-accordion:before, h5.dt-sc-toggle:before, h5.dt-sc-toggle-accordion:after, h5.dt-sc-toggle-accordion.active:after, ul.dt-sc-fancy-list li:before, .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:after, .dt-sc-toggle-frame-set .dt-sc-toggle-frame h5.dt-sc-toggle:after, span.select-sort:before, .dt-sc-error-box:before, .dt-sc-warning-box:before, .dt-sc-success-box:before, .dt-sc-info-box:before, h5.dt-sc-toggle:after, #main-menu ul li.menu-item-simple-parent ul li a:before, .megamenu-child-container ul.sub-menu > li > ul li a:before, .fixed-help-form input[type="submit"], .fixed-help-form:before{font-family:FontAwesome; font-style:normal; font-weight:normal;}

/*--------------------------------------------------------------
3.0 - Header Styles
--------------------------------------------------------------*/

.sticky-wrapper{clear:both; width:100%; z-index:9999; display:block; height:auto !important;}

.is-sticky header{clear:both; float:left; width:100%;}

.is-sticky header .logo a img{max-height:60px;}

.is-sticky header .contact-details{margin:8px 0px 0px;}

.sticky-wrapper.is-sticky header #main-menu > ul.menu > li > a{line-height:50px;}

.is-sticky header #menu-container ul.dt-sc-social-icons{height:50px;}

.is-sticky header ul.dt-sc-social-icons li a{height:55px; line-height:50px;}

.is-sticky header ul.dt-sc-social-icons li a span{height:55px; line-height:50px;}

header{width:100%; float:left; margin:0px; padding:0px; display:block; z-index:9999;}

.is-sticky header #menu-container{height:auto;}

.top-bar{width:100%; clear:both; float:left; padding:10px 0px; color:#FFFFFF;}

.logo{float:left;}

.logo img{display:block;}

header .dt-sc-contact-number{float:right; font-size:16px;}

header .dt-sc-contact-number span{margin-right:5px;}

header .alignright{float:right; margin:25px 0px 0px; padding:0px;}

header .alignright .dt-sc-bordered-button{padding:7px 26px;}

header .contact-details .fa{margin-left:5px; color:#252525;}

header .contact-details{float:right; margin:25px 0px 0px; padding:0px;}

header .contact-details p{text-align:right; margin:0px;}

header ul.dt-sc-social-icons li{display:inline; float:left; margin-right:5px;}

header ul.dt-sc-social-icons li:last-child{margin-right:0px;}

header ul.dt-sc-social-icons li a:hover{color:#f1f1f1;}

header ul.dt-sc-social-icons li:first-child a{padding-left:0px;}


/*--------------------------------------------------------------
3.1 - Menu Styles
--------------------------------------------------------------*/

#menu-container{clear:both; float:left; width:100%; position:relative; z-index:10;}

.main-menu-wrapper{width:100%; float:left; clear:both; border-top:1px solid #dfdfdf;}
	
#main-menu{float:left; margin:0px; padding:0px; position:relative; z-index:100; line-height:normal; width:80%;}

#main-menu > ul.menu{margin:0px; padding:0px;}
	
#main-menu > ul.menu > li{margin:0px; padding:0px; margin:3px 5px 0px; line-height:67px; display:inline; float:left; position:relative;}

#main-menu ul.menu li a{line-height:normal;}
	
#main-menu > ul.menu > li > a{padding:9px 15px 10px; font-size:16px; display:inline-block; margin:0px; text-transform:capitalize; color:#FFFFFF; position:relative;}

#main-menu > ul.menu > li.current_page_item > a:after{content:""; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid; left:0px; right:0px; width:0px; margin:auto; bottom:0px; position:absolute;}

#main-menu > ul.menu > li:last-child > a:after{background:none; width:0px;}

/**Mega Menu**/
	
#main-menu > ul.menu > li > .megamenu-child-container{display:none;}

.megamenu-child-container{background-color:#FFFFFF; padding:20px 15px 20px; position:absolute; top:100%; left:0px; float:left; border:1px solid #e6e6e6; border-top:0px;}

.megamenu-child-container:before, #main-menu ul li.menu-item-simple-parent ul:before{content:""; width:100%; height:5px; display:inline-block; position:absolute; top:0px; left:-1px; padding:0px 1px;}

.megamenu-2-columns-group .megamenu-child-container{width:500px;}

.megamenu-3-columns-group .megamenu-child-container{width:750px;}

.megamenu-4-columns-group .megamenu-child-container{width:1030px;}

.megamenu-child-container > ul.sub-menu > li{width:230px; padding:15px; float:left; display:inline;}

.megamenu-child-container > ul.sub-menu > li:first-child{padding-left:15px;}

.megamenu-child-container > ul.sub-menu > li:nth-child(3){padding-right:15px;}

.megamenu-child-container > ul.sub-menu > li.menu-item-with-widget-area{width:219px; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}

.megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth{width:470px; display:block;}

.megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth{width:720px; display:block;}

.megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth{width:970px; display:block; padding-top:0px; padding-right:5px;}

.megamenu-child-container > ul.sub-menu{padding:0px; margin:0px;}

.megamenu-child-container > ul.sub-menu > li > a, .megamenu-child-container > ul.sub-menu > li > .nolink-menu{display:block; font-size:18px; padding-bottom:25px; margin-bottom:25px; font-weight:bold;}

.megamenu-child-container > ul.sub-menu > li > a .menu-item-description, .menu-item-description{color:#b1b1b1; display:block; font-weight:normal; padding:0px;}

.dt-megamenu-custom-content{display:block; padding:10px 0px 0px;}

.megamenu-child-container ul.sub-menu > li > ul{padding:0px 0px 0px;}

.megamenu-child-container ul.sub-menu > li > ul li{display:block;}

.megamenu-child-container ul.sub-menu > li > ul li:last-child a{border:none;}

.megamenu-child-container ul.sub-menu > li > ul > li > ul{padding-left:20px;}

.megamenu-child-container > ul.sub-menu > li > a:hover, .megamenu-child-container > ul.sub-menu > li > a:hover .menu-item-description, #main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text .dt-sc-bordered-button:hover{color:#ffffff;}

.megamenu-child-container > ul.sub-menu > li.fulwidth-image-link > .nolink-menu{padding:0px;}

.megamenu-child-container > ul.sub-menu > li.fulwidth-image-link ul.sub-menu{padding-top:0px;}

.megamenu-child-container > ul.sub-menu > li.fulwidth-image-link img{max-width:100%;}
	
#main-menu ul li.menu-item-simple-parent ul{width:220px; background:#ffffff; padding:10px 0px 10px; position:absolute; top:100%; left:0px; float:left;}

#main-menu ul li.menu-item-simple-parent ul li ul{left:220px; top:-8px; border-top:0px; padding-top:5px;}

.megamenu-child-container > ul.sub-menu > li.fulwidth-image-link img{max-width:100%;}

#main-menu > ul.menu > li a:hover, #main-menu > ul.menu > li.current_page_item > a{color:#FFFFFF;}

#main-menu .megamenu-child-container > ul.sub-menu > li > a{margin-bottom:12px; padding-bottom:12px;}

#main-menu .megamenu-child-container .widget ul.product_list_widget li{clear:both; display:block; padding:15px 0px 30px;}

#main-menu .megamenu-child-container .widget ul.product_list_widget li:first-child{padding-top:0px;}

#main-menu .megamenu-child-container .widget ul.product_list_widget li a{font-weight:100; color:#545454;}

#main-menu .megamenu-child-container .widget ul.product_list_widget li a img{margin-right:20px; float:left; border:2px solid #f3f3f3;}

#main-menu .megamenu-child-container .widget ul.product_list_widget li span.amount{margin:20px 0px 0px; display:block; font-weight:600;}

.megamenu-child-container > ul.sub-menu > li.fill-two-columns{width:462px; padding-right:15px;}

.megamenu-child-container > ul.sub-menu > li.fill-four-columns{width:986px; padding:0px 14px 15px; clear:both;}

#main-menu .megamenu-child-container > ul.sub-menu > li.fill-four-columns > a{margin-bottom:10px; padding-bottom:10px;}

.menu-item-widget-area-container{width:100%; margin:0px; padding:0px;}

.menu-item-widget-area-container .widget{padding:0px;}

.menu-item-widget-area-container .textwidget img{border:4px solid;}

.menu-item-widget-area-container .textwidget .image{width:178px; margin-right:30px; float:left;}

.menu-item-widget-area-container .widget.widget_text .textwidget .alignleft{float:left; width:254px; margin:0px; line-height:24px;}

.menu-item-widget-area-container .widget.widget_text .textwidget h4{text-transform:uppercase; font-size:16px; font-weight:700; color:#838585; line-height:normal; margin-bottom:15px;}

.menu-item-widget-area-container .widget.widget_text .textwidget p{line-height:26px; margin:0px;}

#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text .dt-sc-bordered-button{display:inline-block; clear:both; text-align:center; padding:9px 15px 8px; font-size:12px;}

#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text .dt-sc-bordered-button.first{margin-right:10px;}

#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text .dt-sc-bordered-button span{margin:0px 5px 0px 0px;}

#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text span{margin:0px 8px; text-align:center; display:inline-block;}

#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container .widget_text span.dt-sc-highlight{margin:-5px 0px 20px; line-height:24px; text-transform:none; font-size:15px; text-align:left;}

#main-menu ul.menu .megamenu-child-container .entry-meta .date, #main-menu ul.menu .megamenu-child-container .entry-meta .comments{line-height:18px;}

.menu-item-widget-area-container .widget.widget_recent_entries h6{line-height:24px;}

.menu-item-widget-area-container .widget.widget_recent_entries h6 a{text-transform:none;}

.menu-item-widget-area-container .widget.widget_recent_entries .entry-meta{margin-bottom:5px;}

.menu-item-widget-area-container .widget.widget_recent_entries ul li{margin-bottom:0px; padding-bottom:0px;}

.menu-item-widget-area-container .widget .entry-body p{line-height:26px;}

.menu-item-widget-area-container .widget .entry-details{border-top:2px solid #ebebeb; padding-top:15px;}

.menu-item-widget-area-container .widget .entry-details .entry-title h5{margin-bottom:10px;}

.menu-item-widget-area-container .widget .entry-details .entry-title h5 a{color:#343434;}

.menu-item-widget-area-container .widget .entry-details p{display:inline-block; float:left; clear:none; background:none; margin:0px; line-height:inherit; padding:0px;}

.menu-item-widget-area-container .widget .entry-details p, .menu-item-widget-area-container .widget .entry-details p a{color:#b6b6b6;}

.menu-item-widget-area-container .widget .entry-details span{display:inline-block; float:left; margin:0px 5px;}

.menu-item-widget-area-container .widget .entry-details .date:before, .menu-item-widget-area-container .widget .entry-details .comments:before{background:none;}

.menu-item-widget-area-container .textwidget .dt-sc-testimonial blockquote{padding:0px 0px 0px; border-bottom:0px; margin:-6px 0px 30px;}

.menu-item-widget-area-container .textwidget .dt-sc-testimonial blockquote q{padding:0px 12px 0px 20px; font-size:14px;}

.menu-item-widget-area-container .textwidget .dt-sc-testimonial blockquote q:before, .menu-item-widget-area-container .textwidget .dt-sc-testimonial blockquote q:after{font-size:30px;}

.menu-item-widget-area-container .textwidget .dt-sc-testimonial blockquote q:before{top:5px;}

.menu-item-widget-area-container .textwidget .dt-sc-testimonial blockquote q:after{padding-left:0px; bottom:0px;}

.menu-item-widget-area-container .textwidget .dt-sc-testimonial .author-meta{margin:0px;}

#main-menu .menu-item-widget-area-container .widget_text .textwidget .dt-sc-testimonial .author-meta span{line-height:normal; margin:0px; display:inherit; font-size:12px;}

.megamenu-child-container .dt-sc-ico-content.type1{min-height:1px; padding:20px 10px 20px;} 

.megamenu-child-container .dt-sc-ico-content.type1 .icon{display:block; margin-bottom:18px;}

.megamenu-child-container .dt-sc-ico-content.type1 .icon img{display:block; margin:0 auto;}

.megamenu-child-container .dt-sc-ico-content.type1 h5{line-height:normal; margin-bottom:5px;}

#main-menu .megamenu-child-container .dt-sc-ico-content.type1:hover h5 a, #main-menu .megamenu-child-container .dt-sc-ico-content.type1 h5 a:hover, #main-menu .megamenu-child-container .menu-item-widget-area-container .comments:hover{color:#FFFFFF;}

#main-menu .megamenu-child-container .menu-item-widget-area-container .comments:hover{background-color:#CCCCCC; color:#333333;}

.megamenu-child-container .dt-sc-ico-content.type1 span{line-height:normal; font-size:13px; display:inherit; margin-bottom:0px;}

#main-menu .megamenu-child-container .column{margin:0px 0px 0px 23px;}

#main-menu .megamenu-child-container .column.first{margin-left:0px;}

#main-menu .megamenu-child-container .dt-sc-one-fourth{width:225px;}

.megamenu-child-container .dt-sc-ico-content.type1 p{display:none;}

.megamenu-child-container .dt-sc-ico-content.type1:before{height:0px; display:none; width:0px; position:static;}

.dt-menu-toggle{display:none; color:#ffffff; font-size:16px; font-weight:bold; text-transform:uppercase; padding:10px 15px; cursor:pointer; background:#FFFFFF; color:#2f2f2f; border-bottom:1px solid #f0f0f0;}

.dt-menu-toggle-icon{background:#2f2f2f; display:inline-block; float:right; height:2px; margin-top:10px; position:relative; text-align:left; width:20px;}

.dt-menu-expand{font-size:16px !important; display:none !important; position:absolute !important; right:0px; top:0px; line-height:normal; padding:0px !important; text-align:center; line-height:50px !important; cursor:pointer; width:37px; height:37px; font-weight:bold; background:none !important;}

.dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after{content:""; position:absolute; background:#2f2f2f; height:2px; width:20px; left:0px; top:-5px;}

.dt-menu-toggle-icon:after{top:5px;}

.menu-item-widget-area-container .widget.widget_recent_entries{width:215px; margin-left:30px; float:left;}

.menu-item-widget-area-container li.widget.widget_recent_entries:first-child{margin-left:0px;}

/**Simple Drop Down Menu**/
	
#main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul, #main-menu ul li.menu-item-simple-parent ul li ul li ul{display:none;}

#main-menu ul li.menu-item-simple-parent ul{width:220px; padding:10px 0px 10px; position:absolute; top:100%; left:0px; float:left; border:1px solid #e6e6e6; border-top:none;}

#main-menu ul li.menu-item-simple-parent ul:before{content:""; width:100%; left:-1px; position:absolute;}

#main-menu ul li.menu-item-simple-parent ul li{display:block; padding:0px 15px; position:relative;} 

#main-menu ul li.menu-item-simple-parent ul li a{color:#2d2d29; position:relative; padding:10px 0px 10px 20px; font-weight:normal; font-size:13px; display:block; border-bottom:1px solid #f0f0f0;}

#main-menu ul li.menu-item-simple-parent ul li:last-child a{border:none;}

#main-menu ul li.menu-item-simple-parent ul li a:before{content:"\f105"; text-decoration:inherit; font-size:14px; position:absolute; top:12px; left:0px;}

#main-menu ul li.menu-item-simple-parent ul li a.dt-menu-expand:before, .megamenu-child-container ul.sub-menu > li > ul li a.dt-menu-expand:before{background:none;}

.megamenu-child-container ul.sub-menu > li > ul li a:before{top:7px;}

#main-menu ul li.menu-item-simple-parent ul li:last-child > a{border:none;}

#main-menu ul li.menu-item-simple-parent ul li ul{left:220px; top:-5px; padding-top:5px;}

#main-menu ul li.menu-item-simple-parent:last-child ul{right:0px; left:inherit;}

#main-menu ul li.menu-item-simple-parent:last-child ul li ul{right:220px; left:inherit;}

/* hide the link until viewport size is reached */
a.meanmenu-reveal{display:none;}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar{padding:0; z-index:999999;}

.mean-container a.meanmenu-reveal{width:22px; height:22px; padding:13px 13px 11px 13px; position:absolute; top:5px; right:5px !important; cursor:pointer; color:#FFFFFF; text-decoration:none; font-size:16px; text-indent:-9999em; line-height:22px; font-size:1px; display:block; font-family:Arial, Helvetica, sans-serif; font-weight:700; z-index:9999;}

.mean-container a.meanmenu-reveal span{display:block; background:#FFFFFF; height:3px; margin-top:3px;}

.mean-container .mean-nav{float:left; width:100%; position:absolute; left:0px; margin-top:10px;}

.mean-container .mean-nav ul{padding:0; margin:0; width:100%; list-style-type:none;}

.mean-container .mean-nav ul li{position:relative; float:left; padding-bottom:0; width:100%;}

.mean-container .mean-nav{float:left; width:100%; position:absolute; left:0px; top:0px; margin-top:56px; z-index:9999;}

.mean-container .mean-nav ul li a{display:block; float:left; width:90%; padding:1em 5%; margin:0; text-align:left; color:#FFFFFF; border-bottom:1px solid #383838; border-bottom:1px solid rgba(255,255,255,0.5); text-decoration:none; text-transform:uppercase;}

.mean-container .mean-nav ul li:last-child a{border-bottom:none;}

.mean-container .mean-nav ul li li a{width:80%; padding:1em 10%; border-bottom:1px solid #f1f1f1; border-bottom:1px solid rgba(255,255,255,0.25); opacity:0.75; filter:alpha(opacity=75); text-shadow:none !important; visibility:visible;}

.mean-container .mean-nav ul li.mean-last a{border-bottom:none; margin-bottom:0;}

.mean-container .mean-nav ul li li li a{width:70%; padding:1em 15%;}

.mean-container .mean-nav ul li li li li a{width:60%; padding:1em 20%;}

.mean-container .mean-nav ul li li li li li a{width:50%; padding:1em 25%;}

.mean-container .mean-nav ul li a:hover{background:#252525; background:rgba(255,255,255,0.1);}

.mean-container .mean-nav ul li a.mean-expand{width:26px; height:26px; border:none !important; padding:12px !important; text-align:center; position:absolute; right:0; top:0; z-index:2; font-weight:700;}

.mean-container .mean-nav ul li a.mean-expand:hover{background:none;}

.mean-container .mean-push{float:left; width:100%; padding:0; margin:0; clear:both;}

.mean-nav .wrapper{width:100%; padding:0; margin:0;}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}

header #menu-container ul.dt-sc-social-icons{float:right; height:60px;}

.wrapper, .main #main{float:left; clear:both; margin:0px; padding:0px 0px 0px; width:100%;}

/***search form***/

#menu-container #searchform{float:right; padding:0px; margin:10px 0px 0px; background-color:rgba(255, 255, 255, 0.11); border:none; outline:none; width:26%;}

#menu-container #searchform input[type=text]{border:none; color:#FFFFFF; background:none; width:auto; font-size:14px; padding:16px 15px 15px 16px; margin:0px; width:248px; font-weight:normal;}

#menu-container #searchform input[type=submit]{background:url(images/search_icon.png) center center no-repeat; border:none; outline:none; padding:17px 23px; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}

#menu-container #searchform input[type=submit]:hover, #menu-container #searchform input[type=text]:focus{box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}

/*--------------------------------------------------------------
4.0 - Main Styles
--------------------------------------------------------------*/

#main{float:left; clear:both; margin:0px; padding:0px 0px 0px; width:100%;}

#primary.content-full-width{width:100%;}

#primary{margin:70px 0px 0px; padding:0px; float:left;}

#primary.with-left-sidebar{float:right; margin-left:30px;}
	
#primary.with-right-sidebar{float:left; margin-right:30px;}

#primary.page-with-sidebar{width:770px; margin:70px 30px 0px 0px;}

#secondary{width:370px; margin:70px 0px 0px 0px; float:left; padding:0px;}

#main .dt-sc-hr-green-title{text-align:center; width:100%; background:url(images/green_title_bg.png) center bottom no-repeat; display:inline-block; padding:0px 0px 30px; margin:0px 0px 30px; line-height:inherit;}

#main .dt-sc-hr-white-title{text-align:center; color:#FFFFFF; width:100%; background:url(images/white_title_bg.png) center bottom no-repeat; display:inline-block; padding:0px 0px 30px; margin:0px 0px 30px; line-height:inherit;}

#main .fullwidth-background.product_bg .dt-sc-hr-white-title{color:inherit;}

#slider{float:left; clear:both; width:100%; margin:0px; padding:0px; position:relative; overflow:hidden;}
		
#slider img{max-width:100%;}

.content_at_top{display:block; margin:-54px 0px 0px; float:left; width:100%; position:relative;}

/*--------------------------------------------------------------
4.1 - Breadcrumb Styles
--------------------------------------------------------------*/

.breadcrumb-section{border-bottom:5px solid #f7f7f7; width:100%; float:left; clear:both; padding:35px 0px 25px; margin:0px 0px 0px;}

.breadcrumb-section h1{float:left; font-size:20px; font-weight:bold; color:#FFFFFF; text-transform:uppercase; margin-bottom:0px; padding:3px 20px;}

.breadcrumb-section .breadcrumb a{float:left; position:relative; padding:0px 14px 0px 0px; margin:0px 8px 0px 0px;}

.breadcrumb-section .breadcrumb a:after, p.categories:before, ul.commentlist li .comment-reply-link:before{content:""; position:absolute; top:7px; right:0px; width:6px; height:6px; display:inline-block; margin:0px 0px 0px 0px; float:left;}

.breadcrumb-section .breadcrumb a:after{background:#dcdbd7; top:6px;}

.breadcrumb-section .breadcrumb span{float:left; margin:0px 8px;}

.breadcrumb-section .breadcrumb span.current{margin:0px;}

.breadcrumb-section .breadcrumb{float:right; margin:5px 0px 0px; line-height:normal;}

/*--------------------------------------------------------------
4.2 - fullwidth-background Styles
--------------------------------------------------------------*/

.fullwidth-background{float:left; clear:both; width:100%; margin:0px; padding:78px 0px; background-position:center center; background-repeat:repeat; background-attachment:fixed;}

.fullwidth-background h5{color:#FFFFFF; text-transform:uppercase;}

.fullwidth-background.trust_section h5, .fullwidth-background.count_section h5{border-bottom:1px solid #FFFFFF; display:inline-block; font-weight:bold; padding:0px 14px 15px; margin-bottom:0px;}

.fullwidth-background.trust_section{background-image:url(images/fondo03.jpg); text-align:center; padding:70px 0px 120px; background-repeat: repeat-x;}

.fullwidth-background.trust_section_civiles {
    background-image: url(images/fondo04.jpg);
    text-align: center;
    padding: 70px 0px 120px;
    background-repeat: repeat-x;
}

.fullwidth-background.benefits_section{background-image:url(images/fondo01.jpg); padding:70px 0px 54px; position:relative; z-index:9;}

.fullwidth-background.count_section{background-image:url(http://placehold.it/1920x1272); padding:60px 0px 38px; position:relative; z-index:9; text-align:center;}

.fullwidth-background.benefits_section:before{content:""; position:absolute; top:0px; left:0px; display:block; width:100%; height:100%; z-index:-1;}

.fullwidth-background.count_section:before{content:""; position:absolute; top:0px; left:0px; display:block; width:100%; height:100%; z-index:-1;}

.fullwidth-background.count_section .dt-sc-one-fourth{width:21.4%;}

.fullwidth-background.count_section .column{margin:0px 0px 0px 4.8%;}

.fullwidth-background.count_section .column.first{margin-left:0px;}

.fullwidth-background.benefits_section h5{margin-bottom:35px;}

.fullwidth-background.count_section h5{margin-bottom:60px;}

.fullwidth-background.benefits_section p{color:#FFFFFF; line-height:28px; margin:10px 0px;}

.fullwidth-background.benefits_section iframe{box-shadow:0px 0px 8px 0px #27282a; -moz-box-shadow:0px 0px 8px 0px #27282a; -webkit-box-shadow:0px 0px 8px 0px #27282a;}

p.aligncenter{color:#838585; line-height:28px; margin:0px 0px 10px;}

p span.dt-sc-highlight{font-size:15px;}

span.dt-sc-highlight{font-size:18px; color:#838585; text-transform:inherit; font-weight:normal; display:inline-block;}

span.dt-sc-highlightt{font-size:18px; color:rgb(29, 62, 136); font-weight:normal; display:inline-block;}

.aligncenter a.dt-sc-bordered-button{margin:0px 15px;}

.no-transform{font-weight:bold; text-transform:none;}


/*--------------------------------------------------------------
5.0 - Team Styles
--------------------------------------------------------------*/

.dt-sc-team{float:left; width:100%;}

.dt-sc-team .dt-sc-entry-thumb{position:relative; float:left; overflow:hidden;}

.dt-sc-team .item-mask{left:0px; position:absolute; top:0px; transition:all 0.2s ease 0s; z-index:999; }

.dt-sc-team .dt-sc-entry-thumb img{float:left; width:100%;}

.dt-sc-team .dt-sc-image-overlay{background:rgba(24, 151, 163, 0.9); float:left; height:100%; left:0; opacity:0; position:absolute; top:0; transition:opacity 0.2s ease 0s; -moz-transition:opacity 0.2s ease 0s; -webkit-transition:opacity 0.2s ease 0s; visibility:hidden; width:100%;}

.dt-sc-team:hover .dt-sc-entry-thumb .dt-sc-image-overlay{opacity:1; visibility:visible;}

.dt-sc-entry-title{padding:15px 0px 11px; text-align:center; float:left; width:100%;}

.dt-sc-entry-title h2, .dt-sc-entry-title h6{margin:0 0 15px;}

.dt-sc-team:hover .dt-sc-entry-title span{background:#e2b961;}

.dt-sc-team:hover .dt-sc-image-overlay{opacity:1; visibility:visible;}

.dt-sc-image-overlay a.link{left:0px;}

.dt-sc-image-overlay a.zoom{right:0px;}

.dt-sc-team:hover .dt-sc-image-overlay a.link{left:29%;}

.dt-sc-team:hover .dt-sc-image-overlay a.zoom{right:29%;}


/*--------------------------------------------------------------
6.0 - Blog Styles
--------------------------------------------------------------*/

.blog-entry{width:100%; margin:0px 0px 50px; padding:0px 0px 0px; float:left; clear:both; position:relative;}

.blog-entry-inner{padding:0px 0px 0px 122px;}

.widget_recent_entries{width:100%; float:left; clear:both; margin:0px 0px 0px; padding:0px;}

.widget_recent_entries ul li{margin-bottom:10px; float:left; width:100%;}

.entry-meta{float:left; width:100%; margin:0px 0px 10px;}

.entry-meta .date, .entry-meta .comments{color:#FFFFFF; font-size:13px; padding:6px 15px; margin:0px 0px 0px; display:inline-block; float:left; line-height:normal;}

.widget_recent_entries .entry-title{width:100%; display:block;}

.entry-details{width:74%; float:left; margin:0px; padding:0px;}

.dt-sc-full-width-content .entry-details{width:100%;}

.entry-title{float:left; width:100%;}

.entry-body{float:left;}

.entry-body h6{font-family:inherit; font-weight:600; font-size:16px; line-height:12px; margin-bottom:40px;}

.entry-details .entry-body p{font-size:14px; line-height:28px;}
		
.entry-meta .entry_format{display:inline-block; text-align:center; text-decoration:inherit; position:relative;}

.entry-meta .date{text-align:left; line-height:normal; width:auto; padding:6px 15px 6px 15px;}
	
.entry-meta .date p{line-height:15px; font-size:12px; margin:4px 0px 0px 8px; display:inline-block;}
		   
.entry-meta .date span{display:inline-block; margin-right:2px;}
		
.entry-meta .comments{display:block;}

.entry-meta a:hover{color:#333333; background-color:#CCCCCC;}

.blog-entry .dt-sc-video-wrapper{margin:30px 0px 0px;}

.dt-sc-video-wrapper iframe{float:none;}

.blog-entry .entry-meta .author a:hover, .blog-entry .entry-meta .categories a:hover{background-color:transparent;}
		
.entry-meta	.blog-author{max-width:56px; max-height:56px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; border:3px solid #008c99; background:#a2bc56; display:inline-block; margin-bottom:15px;}

.entry-meta	.blog-author img{border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}

.entry-meta	.blog-author:hover{border:3px solid #333334;}

p.categories{position:relative; padding:0px 0px 0px 11px; margin:0px 0px 0px 5px;}

p.categories:before{right:auto; left:0px; top:9px; background:#dcdbd7;}

p.author, p.categories{float:left;}

.entry-title h5{border-bottom:1px solid #f2f2f2; margin:6px 0px 22px; display:inline-block; padding-bottom:15px; line-height:28px; width:inherit; text-transform:none;}

.entry-meta .alignright p{text-transform:uppercase; font-size:12px;}

.entry-details p{line-height:25px;}

.date p, .date span{color:#FFFFFF;}

.entry-thumb{margin:0px 30px 0px 0px; float:left; width:170px;}

.dt-sc-full-width-content .entry-thumb{width:100%; float:left; margin:30px 0px 40px;}

.entry-thumb img{display:block;}

#primary.with-sidebar .dt-sc-one-half .entry-meta .blog-author{max-width:50px; max-height:50px; margin-bottom:10px;}

#primary.with-sidebar .dt-sc-one-half .date, #primary.with-sidebar .dt-sc-one-half .comments, #primary.with-sidebar .dt-sc-one-half .entry_format{margin:0px 0px 6px 14px;}

.recent_studys{width:100%; float:left; margin:0px; padding:0px;}

.recent_studys p{margin-bottom:30px;}

/*--------------------------------------------------------------
6.1 - Blog Comments Styles
--------------------------------------------------------------*/

.about-author{clear:both; float:left; width:100%;}

.about-author h2{font-size:18px;}

.about-author .author-details{width:100%; float:left; margin:20px 0px 0px;}

.about-author .author-thumb{float:left; margin:0px 30px 0px 0px; width:66px; height:66px;}

.about-author .author-thumb img{border:2px solid; max-width:66px; max-height:66px;}

.about-author .author-thumb img{}

.about-author .author-description{width:84%; float:left; margin:0px 0px 0px 0px;}

.about-author .author-description h6, ul.commentlist li .author-name a{float:left; text-transform:none; font-weight:normal; font-size:16px; margin-bottom:22px;}

.about-author .author-description span{display:inline-block; font-style:italic;}

.about-author .author-description span:before, ul.commentlist li .commentmetadata:before{content:"/"; display:inline-block; margin:0px 3px 0px 5px; padding:0px;}

.about-author .author-description span, ul.commentlist li .commentmetadata{display:block;}

.about-author .author-description p, ul.commentlist .comment-content p{margin-bottom:0px; font-size:14px; line-height:28px;}

.commententries{width:100%; float:left; margin:10px 0px 0px; padding:0px;}

ul.commentlist{float:left; margin:0px 0px 25px 0px; padding:0px 0px 0px 0px; list-style:none; border-top:0px;}

ul.commentlist li{display:block; float:none; list-style:none; border:none; margin:0px 0px 35px; padding:0px 0px 0px 100px; position:relative; clear:both;}

ul.commentlist li .respond{margin-left:69px;}

ul.commentlist li .comment-author{left:0px; top:0px; position:absolute; background:none; float:none; width:auto; z-index:9;}

ul.commentlist li .comment-author img{max-width:64px; max-height:64px; float:left; margin:0px; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; transition:all 1s ease; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}

ul.commentlist li .author-name{font-size:15px; padding-bottom:5px; float:left;}

ul.commentlist li .commentmetadata{float:left; font-style:italic;}

ul.commentlist li .comment-details{display:block;}		

ul.commentlist li .comment-body{margin:0px; padding:0px; clear:both;}

ul.commentlist li .reply{background:url(images/body_bg.jpg) repeat; margin:-9px 0px 0px; float:right; width:48px; text-align:right;}
		
ul.commentlist li .reply a{font-size:13px;}

ul.commentlist li ul.children{width:100%; float:left; clear:both; margin:45px 0px 0px 0px; padding:0px 0px 0px 0px;}

ul.commentlist .comment-details .alignright a{text-transform:uppercase; font-size:12px;}

ul.commentlist li .comment-reply-link{position:relative; margin:0px 0px 0px 5px; padding:0px 0px 0px 12px;}

ul.commentlist li .comment-reply-link:before{background:#e5e5e5; right:auto; left:0px; top:5px;}

.comment-form input[type=text], .comment-form input[type=email]{}

.comment-form textarea{font-size:14px;}

.fullwidth-background .blog-entry{margin:0px 0px 0px;}


/*--------------------------------------------------------------
7.0 - Pagination Styles
--------------------------------------------------------------*/


.pagination{float:left; width:100%; margin:15px auto 25px; padding:45px 0px; border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; text-align:center; display:inline-block;}
		
.pagination ul{display:inline-block; margin:0px; padding:0px;}
		
.pagination ul li{float:left; display:inline; margin:0px; padding:0px;}

.pagination ul li a, .pagination .next-post a, .pagination .prev-post a{font-size:16px; line-height:inherit; padding:12px 20px; margin:0px 0px 0px 0px; border-right:1px solid #f2f2f2; float:left; position:relative; z-index:1; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s; -o-transition:all 0.3s; -ms-transition:all 0.3s;}

.pagination ul li a{border-color:#f2f2f2; border-width:1px 1px 1px 0px; border-style:solid; width:50px; height:48px;}

.pagination ul li:first-child a{border-width:1px;}

.pagination ul li:last-child a{border-width:1px 1px 1px 0px;}
		
.pagination ul li.active-page{font-weight:bold; line-height:30px; padding:0px 12px; margin:0px 10px 0px 0px; float:left; position:relative; border:1px solid;}

.pagination .prev-post{padding:0px 12px;}

.pagination .next-post a, .pagination .prev-post a{border-right:none; padding:12px 15px;}

.pagination .prev-post a span{margin-right:5px;}

.pagination .next-post a span{margin-left:5px;}
		
.pagination ul li:first-child a{}

.pagination ul li:first-child a:hover:before{left:1px;}

.pagination ul li a:hover:before{content:""; position:absolute; top:1px; left:2px; border:1px solid #FFFFFF; width:44px; height:42px;}

.pagination .next-post a:hover, .pagination .prev-post a:hover{}
		
.pagination .next-post{display:inline-block; margin-left:4px; padding:0px;}
		
.pagination .prev-post{display:inline-block; margin-right:4px; padding:0px; font-size:16px;}

.images{float:left; width:32%; margin-right:25px;}

.images img{border:3px solid #008c99; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}

ol.commentlist{padding-left:0px;}

ol.commentlist{list-style:none;}

ol.commentlist .comment_container{float:left; margin-right:20px; max-width:60px;}

.author-description h5{margin-bottom:10px;}

.author-description h5 a{color:#1f1f1f;}

.author-thumb{float:left; display:inline-block; margin:0px 20px 20px 0px; width:100%; text-align:center; max-height:101px; max-width:119px; position:relative; float:left; overflow:hidden;}

.author-description p{float:left; display:block;}


/*--------------------------------------------------------------
8.0 - Contact Page Styles
--------------------------------------------------------------*/

.contact-form textarea, .comment-form textarea{width:100%; padding:16px 18px; background:#FFFFFF; height:190px;}

.dt-sc-contact-info{padding:0px 0px 0px; width:100%; display:block; clear:both; float:left; margin:0px 0px 25px;}

.dt-sc-contact-info a{text-transform:lowercase; color:inherit;}

.dt-sc-contact-info i{display:inline-block; margin:6px 5px 0px 0px; float:left;}

.contact_form_outer{background: url(images/contact_form_bg.png) -20px 0px; box-shadow:0px 5px 5px 0px rgba(100, 100, 100, 0.20); -webkit-box-shadow:0px 5px 5px 0px rgba(100, 100, 100, 0.20); -moz-box-shadow:0px 5px 5px 0px rgba(100, 100, 100, 0.20); padding:5px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}

.contact-form input[type=submit]{margin:0px; font-weight:normal;}

/*--------------------------------------------------------------
9.0 - Sidebar Styles
--------------------------------------------------------------*/

#secondary.type2{float:left;}

#secondary.type2 .widget{background:#fbfcfc;padding:20px 15px 20px 15px; border:5px solid #f2f2f2; position:relative;}

#secondary.type2 .widget:before{content:""; width:100%; height:5px; display:inline-block; top:-5px; left:-5px; position:absolute;}

#secondary.type2 .widget:after{content:""; height:8px; width:70px; display:inline-block; margin:0px; position:absolute; top:-5px; right:-5px;}

#secondary .widget{float:left; width:100%; padding-bottom:20px; margin:0px 0px 50px;}

#secondary.type2 .widget.clear-background{background:none; padding:0px; border:none;}

#secondary.type2 .widget.clear-background:before, #secondary.type2 .widget.clear-background:after{background:none; position:static; width:0px; height:0px; display:none;}

#secondary h3.widgettitle{margin:0px 0px 35px 0px; font-weight:bold; text-transform:capitalize; border-bottom:1px solid #f2f2f2; padding-bottom:20px; font-size:18px;}

#secondary h3.widgettitle span{margin-right:5px;}

#secondary ul.dt-sc-fancy-list li{line-height:20px;}

#secondary .widget_categories ul li a{display:block;}

#secondary .widget_categories ul li:last-child a{border-bottom:none; margin-bottom:0px;}

#secondary .widget_categories ul li a span{position:absolute; right:0px; color:#cf571b; font-style:italic;}

.widget ul{float:left; width:100%; margin:0px; padding:0px;}

#secondary .widget_text .dt-sc-bordered-button{width:97.5%; text-align:center; font-size:16px; text-transform:none; padding:17px 25px; margin:0 auto; display:block; clear:both;}

#secondary .widget_text img{display:block;}

#secondary .widget .investigation_content{float:left; width:100%;}

#secondary .widget .investigation_content{margin-bottom:20px; float:left;}

#secondary .widget .investigation_content:last-child{margin-bottom:0px;}

#secondary .widget .investigation_content h6{font-weight:normal; text-transform:none;}

/*--------------------------------------------------------------
10.0 - Form Styles
--------------------------------------------------------------*/

/**consultation-form**/

.consultation-form{float:left; margin:0px; padding:0px; width:100%;}

.consultation-form input[type=text], .consultation-form input[type=email], .consultation-form input[type=phone], .question-form input[type=text], .question-form input[type=email], .contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=number], .contact-form input[type=password]{width:100%; margin:0px; font-size:14px; padding:16px 16px; font-weight:normal;}

.consultation-form textarea, .question-form textarea{font-size:14px; height:100px;}

.consultation-form input[type=submit]{margin:0px 0px 0px 30px;}

#main .question-form p:last-child{margin-bottom:0px;}

/**attorney-form**/

.attorney-form p label{float:left; line-height:45px; margin:0px 20px 0px 0px; font-size:16px;}

.attorney-form span.select-sort{width:300px;}

/**attorney_list**/

.attorney_list{width:100%; float:left; clear:both; margin:0px; padding:0px;}

.attorney_list .result-count{line-height:45px;}

.attorney_content{clear:both; float:left; width:100%; margin:0px 0px 50px; padding:0px;}

.attorney_content .image{float:left; margin-right:4%; width:18%;}

.attorney_content .attorney_details h6{display:inline-block; font-size:16px; margin:0px 18px 0px 0px;}

.attorney_content h6 a{color:#2f2f2f;}

.attorney_content .attorney_details{float:left; width:78%;}

.attorney_content .attorney_details .alignleft{margin:0px;}

.attorney_content .attorney_details span{margin:0px;}

.attorney_content .attorney_details_info{border-width:1px 0px; border-style:solid; border-color:#ededed; display:inline-block; width:100%; padding:12px 0px 11px;}

.attorney_content p{clear:both; margin:10px 0px 10px; display:inline-block;}

.attorney_content span.fa{font-style:normal; margin-bottom:0px;}

.attorney_content .phone-no{clear:none; float:left; font-size:15px; margin:0px; padding:0px 0px 0px 25px; position:relative;} 

.attorney_content .phone-no:before{content:""; width:1px; height:48px; background-color:#ededed; padding:0px 0px 0px; margin:0px 0px 0px; position:absolute; display:inline-block; top:-12px; left:0px;}

/**our-people-detail**/

.our-people-detail{width:100%; float:left; margin:0px; padding:0px;}

.our-people-detail h4{margin-bottom:10px;}

.our-people-detail span{font-style:italic;}

.our-people-detail .image{width:35%; float:left; margin:0px 4% 0px 0px;}

.our-people-detail p{font-size:16px; line-height:28px;}

.our-people-detail ul li{border-bottom:1px solid #f2f2f2; padding-bottom:5px; margin-bottom:5px;}

.our-people-detail ul li:last-child{border-bottom:none;}

.our-people-detail-info{width:61%; float:left;}

.our-people-detail-info ul li span{font-style:normal;}

/**mailchimp**/

.mailchimp{width:680px; display:block; margin:0 auto 0px; clear:both; position:relative; color:#FFFFFF; padding:15px 54px;}

.mailchimp:before{content:""; position:absolute; top:-4px; left:0px; width:100%; height:3px; display:inline-block;}

.mailchimp p{float:left; margin:14px 25px 0px 0px;}

.mailchimp p span{margin-right:3px;}

.mailchimp-form input[type=email], .mailchimp-form input[type=text]{border:none; background-color:rgba(255, 255, 255, 0.11); outline:none; width:275px; font-family:inherit; font-size:inherit; padding:16px 23px; margin:0px; font-weight:normal; float:left; color:rgba(255,255,255,0.5);}

.mailchimp-form input[type=email]::-webkit-input-placeholder{color:rgba(255,255,255,0.5);}

.mailchimp-form input[type=email]:-moz-placeholder{color:rgba(255,255,255,0.5);}

.mailchimp-form input[type=email]::-moz-placeholder{color:rgba(255,255,255,0.5);}

.mailchimp-form input[type=email]:-ms-input-placeholder{color:rgba(255,255,255,0.5);}

.mailchimp-form input[type=email]:focus, .mailchimp-form input[type=text]:focus{box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}

.mailchimp-form p span{padding-right:5px;}

.mailchimp-form input[type=submit]{padding:0px 18px; line-height:49px; height:auto; border:none; color:#FFF; cursor:pointer; outline:none; display:inherit; text-transform:uppercase; box-shadow:none;
-moz-box-shadow:none; -webkit-box-shadow:none; font-size:13px; font-weight:normal;}

.mailchimp-form input[type=submit]:hover{opacity:0.8; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}

.widget.mailchimp p.error{border:1px solid red; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}

/**office_locations**/

.office_locations{clear:both; float:left; width:100%; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; padding:28px 0px 24px; margin:-1px 0px 0px; font-size:13px; line-height:100%;}

.office_locations p{text-transform:uppercase; float:left; margin-bottom:0px;}

ul.dt-sc-locations{margin:0px 0px 0px 20px; padding:0px; display:inline-block;}

ul.dt-sc-locations li{padding:0px 0px; float:left; display:inline-block; position:relative;}

ul.dt-sc-locations li a{padding:25px 0px 28px;}

ul.dt-sc-locations li:after{content:"|"; padding:0px 10px;}

ul.dt-sc-locations li:last-child:after{content:""; padding:0px;}

.office_locations .dt-sc-text-overlay{float:left; padding:15px 20px 20px; height:auto; left:0; opacity:0; position:absolute; bottom:41px; transition:opacity 0.2s ease 0s; -moz-transition:opacity 0.2s ease 0s; -webkit-transition:opacity 0.2s ease 0s; visibility:hidden; width:210px; background:#FFFFFF; border:1px solid #cccccc; border-radius:2px 2px 0px 0px; -moz-border-radius:2px 2px 0px 0px; -webkit-border-radius:2px 2px 0px 0px;}

ul.dt-sc-locations li:hover .dt-sc-text-overlay{opacity:1; visibility:visible;}

ul.dt-sc-locations li .dt-sc-text-overlay p{text-transform:none; line-height:24px; color:#838585; position:relative; padding:0px 0px 0px 18px; margin:0px 0px 5px; font-size:12px;}

ul.dt-sc-locations li .dt-sc-text-overlay a.dt-sc-button{padding:9px 19px; color:#FFFFFF;}

ul.dt-sc-locations li .dt-sc-text-overlay a.dt-sc-button:hover{color:#FFFFFF;}

.office_locations .dt-sc-text-overlay:after, .dt-sc-text-overlay:before{top:100%; left:33px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}

.office_locations .dt-sc-text-overlay:after{border-color:rgba(107, 213, 68, 0); border-top-color:#FFFFFF; border-width:11px; margin-left:1px;}

.office_locations .dt-sc-text-overlay:before{border-color:rgba(194, 225, 245, 0); border-top-color:#cccccc; border-width:12px; margin-left:0px;}

.office_locations .dt-sc-text-overlay p span{float:left; margin:0px; line-height:inherit; position:absolute; left:0px; top:0px;}

.office_locations .dt-sc-text-overlay .address span{padding-bottom:30px;}

/**fixed-help-form**/

.fixed-help-form{position:fixed; z-index:99999; right:0px; top:204px; width:300px; border:1px solid; border-right:none; border-radius:2px 0px 0px 2px; -moz-border-radius:2px 0px 0px 2px; -webkit-border-radius:2px 0px 0px 2px; padding:22px 20px 22px; font-weight:normal;}

.fixed-help-form .fixed-help-form-icon{position:absolute; left:-50px; top:25px; color:#FFFFFF; font-size:20px; width:50px; height:60px; cursor:pointer; border-radius:2px 0px 0px 2px; -moz-border-radius:2px 0px 0px 2px; -webkit-border-radius:2px 0px 0px 2px; line-height:60px; text-align:center; border:1px solid; border-right:none;}


.fixed-help-form .fixed-help-form-icon img{right:0px; left:0px; top:0px; bottom:0px; margin:auto; position:absolute;}

.fixed-help-form h4{color:#FFFFFF;}

.fixed-help-form p{font-size:13px; float:left; width:100%;}

.fixed-help-form p span{font-size:14px;}

.fixed-help-form .help-form input[type=text], .fixed-help-form .help-form input[type=email], .fixed-help-form .help-form select{background-color:rgba(255, 255, 255, 0.11); border:none; outline:none; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; padding:10px 15px; margin:0px;}


.fixed-help-form .help-form select{padding:12px 15px; height:auto; height:43px;}

.fixed-help-form .help-form input[type=text]:focus, .fixed-help-form .help-form input[type=email]:focus, .fixed-help-form .help-form input[type=submit]{box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}

.fixed-help-form .help-form span.select-sort:before{right:16px; top:20px;}

.fixed-help-form .help-form span.select-sort:after{border:none; border-radius:0px 2px 2px 0px; -moz-border-radius:0px 2px 2px 0px; -webkit-border-radius:0px 2px 2px 0px; width:43px; height:43px; top:0px;}

.fixed-help-form .help-form input[type=submit]{text-transform:none; color:#FFFFFF; font-size:16px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; border:none; outline:none; padding:12px 18px;}

/*--------------------------------------------------------------
11.0 - Footer Styles
--------------------------------------------------------------*/

footer{width:100%; margin:0px; padding:25px 0px 0px; float:left; clear:both; position:relative; border-bottom:5px solid; border-top:1px solid; background-position:center top; background-repeat:no-repeat; font-size:13px;}

.footer_top{text-align:center; margin:0px 0px 50px; width:100%;}

.footer-logo{display:table; vertical-align:middle; margin:0 auto;}

.footer-logo a{display:table-cell; vertical-align:middle; font-weight:bold; width:103px;}

.footer-logo a:first-child{text-align:right;}

.footer-logo a:last-child{text-align:left;}

.footer-logo span{background-image:url(images/footer_justice.png); background-repeat:no-repeat; background-position:center center; width:60px; height:60px; display:inline-block; margin:0px 10px;}

.footer-logo a:hover span{opacity:0.8;}

.footer-widgets-wrapper{width:100%; clear:both; float:left;}

footer ul.dt-sc-social-icons{width:370px; border-top:1px solid; border-bottom:1px solid; display:block; margin:10px auto 0px; padding:15px 0px;}

footer h3.widgettitle, footer ul.dt-sc-social-icons{border-color:rgba(255,255,255,0.1);}

footer ul.dt-sc-social-icons li{margin-right:0px;}

footer ul.dt-sc-social-icons li:last-child{margin-right:0px;}

/**footer widget styles**/

footer h3.widgettitle{padding-bottom:15px; color:#FFFFFF; border-bottom:3px double rgba(255,255,255,0.1); text-transform:uppercase;}

h3.widgettitle{font-size:13px; padding-bottom:10px; margin-bottom:30px;}

footer h3 a{color:#FFFFFF;}

footer .widget{float:left; width:100%; padding-bottom:20px; margin:0px 0px 0px;}

footer .widget ul{width:100%; margin:0px; padding:0px;}

footer .widget ul li{width:100%; font-weight:normal; display:block; position:relative; line-height:19px; padding:11px 0px; background:url(images/footer_links_splitter.png) bottom left repeat-x;}

footer .widget ul li:first-child{padding-top:0px;}

footer .widget ul li:last-child{background:none;}

footer .widget.widget_text ul li a, footer .dt-sc-contact-info a, footer .dt-sc-contact-info, footer .dt-sc-contact-info a:hover{display:block;}

.widget_links ul li:hover a:before, .widget_links ul li:hover a{color:#A99479;}

footer .widget_text_logo{float:left; width:100%; margin:0px; padding:0px;}

footer .widget_text_logo img{margin-right:10px; float:left;} 

footer .widget_text_logo h4{text-transform:uppercase; font-weight:bold; margin-bottom:5px;}

footer .widget_text_logo a{margin:15px 0px 0px; float:left;}

footer .widget_text_logo span i{font-size:14px;}

footer .dt-sc-contact-info{clear:both; float:left; width:100%; margin:0px 0px 19px; padding:0px; border:0px; line-height:22px;}

footer .dt-sc-contact-info span{float:left; margin:0px 10px 0px 0px; font-weight:bold; width:90px;}

footer .dt-sc-contact-info span i{margin:3px 5px 0px 0px;}

.copyright{clear:both; width:100%; margin:0px auto; padding:15px 0px 18px; display:block; font-size:12px; text-align:center;}

.copyright .footer-links{padding:0px; display:inline-block;}

.copyright .footer-links ul{margin:0px; padding:0px; float:left;}

.copyright .footer-links ul li{margin:0px 8px 0px 0px;}

.copyright .footer-links ul li:last-child{margin:0px;}

.copyright .footer-links ul li a{width:35px; height:35px; display:block; line-height:40px; text-align:center; padding:0px;}

.copyright .copyright-info{margin:0px; line-height:35px; display:inline-block;}

ul.footer-links{margin:0px 0px 0px 5px; display:inline-block;}

ul.footer-links li{display:inline-block; padding-bottom:0px;}

ul.footer-links li:after{content:"|"; padding:0px 2px;}

ul.footer-links li:last-child:after{content:""; padding:0px 0px;}

.back-to-top{position:fixed; background-color:rgba(0,0,0,0.3); font-size:18px; bottom:20px; right:20px; width:40px; height:40px; line-height:40px; color:#FFFFFF; text-align:center; display:none; z-index:9999;}

.back-to-top:hover{opacity:0.8;}

.back-to-top:hover span{color:#FFFFFF;}

/*--------------------------------------------------------------
12.0 - Style Picker Styles
--------------------------------------------------------------*/
		
.dt-style-picker-wrapper{position:fixed; z-index:99999; left:0px; top:204px;}

#dt-style-picker{background:#ffffff; border:1px solid #f0f0f0; width:225px; float:left; position:absolute; top:0px; z-index:1; margin:0px; padding:0px 0px 10px; text-align:center;}

#dt-style-picker h2{background:#ffffff; border-bottom:1px solid #f0f0f0; font:normal 12px Tahoma, Geneva, sans-serif; text-transform:uppercase; line-height:48px; width:100%; color:#848484; margin:0px 0px 15px; padding:0px;}

#dt-style-picker h3{font:normal 12px Tahoma, Geneva, sans-serif; padding:0px 0px 10px; width:100%; color:#848484; margin:0px; text-transform:uppercase;}

#dt-style-picker ul{float:left; margin:0px; padding:0px; text-align:center; width:225px;}

#dt-style-picker ul li{display:inline-block; display:inline; list-style-type:none; padding:0px; margin:0px 0px 6px 0px;}

#dt-style-picker ul li a{background:#ffffff; border:1px solid #ffffff; padding:2px; display:inline-block; margin:0px; line-height:0;}

#dt-style-picker ul li a.selected, #dt-style-picker ul li a:hover{border:1px solid #e2d6c1;}

#dt-style-picker ul li a img{border:1px solid #e2d6c1;}

#dt-style-picker .hr{background:url(images/style-picker/seperator.png) no-repeat; width:100%; height:25px; margin:-10px 0px 10px; float:left;}

.style-picker-ico{position:absolute; top:25px; left:225px; width:50px; height:50px; background:#FFFFFF; box-shadow:0px 0px 5px #CCCCCC; -moz-box-shadow:0px 0px 5px #CCCCCC; -webkit-box-shadow:0px 0px 5px #CCCCCC;}

.style-picker-ico img, .fixed-help-form .fixed-help-form-icon img{-webkit-animation:spin 4s infinite linear; -moz-animation:spin 4s infinite linear; animation:spin 4s infinite linear; position:absolute; left:0px; right:0px; margin:auto; top:0px; bottom:0px;}

@-moz-keyframes
spin{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}
@-webkit-keyframes
spin{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@keyframes
spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}

/* Nuevos estilos para complementar */
.section-service{
	padding-bottom: 23px;
	padding-top: 23px;
}
.logodiv {width: 200px; height: 50px; position: absolute; left: 73%;}
.logoheader {margin-top: 5px; margin-left: 41px; width: auto; height: 60px;}
@media (max-width: 600px) {
  .columnas {
	 width: 92%;
  }
	.logodiv {
		position: relative;
		width: auto;
		height: auto;
		left: 0%;
	}
	.logoheader{margin-left: 0px; height: 140px;}
	.breadcrumb-section{
		padding-top: 50px;
		padding-right: 0px;
		padding-bottom: 25px;
		padding-left: 0px;
	}
	#primary{
		margin-top: 50px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px
	}
	.margintop1 {margin-top: 0px;}
	.margintop2{margin-top: 0px;}
	h5.dt-sc-toggle-accordion a,
	.dt-sc-toggle-frame h5.dt-sc-toggle-accordion a,
	.dt-sc-toggle-frame h5.dt-sc-toggle a,
	h5.dt-sc-toggle-accordion,
	h5.dt-sc-toggle,
	h5.dt-sc-toggle-accordion a,
	h5.dt-sc-toggle a {
		font-size: 19px;
	}
	.subtitulo {
		text-align: center;
		margin-bottom: 20px;
		margin-top: 40px;
	}
}
.selectoptions {color: #75757d;font-family: 'Merriweather', serif;font-size: 14px;}
.oculto {display: none;}

.sortable-handler {
  touch-action: none;
}
